{% comment %} <div class="gokwik-checkout">
  <button type="button" id="CartDrawer-Checkout" class="btn cart__checkout" onclick="initiateLogin()">
    <span class="gk-button-text"> Place Order </span>
    <span class="gk-button-pay-icon">
      <img
        src="https://cdn.gokwik.co/v4/images/upi-icons.svg"
        width="66"
        height="auto"
        loading="lazy"
        alt="upi-icons"
      >
    </span>
    <span class="gk-button-arrow-icon">
      <img
        src="https://cdn.gokwik.co/v4/images/right-arrow.svg"
        width="9"
        height="auto"
        loading="lazy"
        alt="right-arrow"
      >
    </span>
  </button>
</div>
 {% endcomment %}