<style>
  .conditional-main-div {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding-top: 32px;
}
  @media screen and (max-width: 640px){
    .conditional-main-div{
       grid-template-columns: auto;
    }
  }
</style>


<div class="page-width">
  <div class="conditional-main-div">
{%- for article in blog.articles -%}
  <div class="conditional-inner-div yyy{{ block.settings.desktopimageslide }}">
          {%- render 'blog-tag-card',
            article: article,
            media_height: section.settings.image_height1,
            show_image:true, 
            media_aspect_ratio: article.image.aspect_ratio,
            show_image: section.settings.show_image1,
            show_date: section.settings.show_date1,
            show_author: section.settings.show_author1,
            show_excerpt: true ,
          -%}
  </div>
      {%- endfor -%}
  </div>
</div>