.sence {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 24px 60px 24px;
  background-color: #e9e9e9;
  gap: 24px;
}
.sence .sence-card {
  width: 100%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 24px;
}

.sence .card-content {
  padding: 38px 28px 0px 28px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.brand-name img {
  height: 14px;
  display: block;
}
.card-title {
  margin: 0px;
}
.card-title p {
  font-family: Heebo-Regular;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  margin: 0px;
  text-align: center;
}
.sence-price {
  font-family: Heebo-Regular;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #f5f5f7;
  padding-block: 8px;
}
.sence-buttons {
  font-family: Heebo-Regular;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.sence-buttons .btn {
  font-family: Heebo-Regular;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0px;
  padding: 7px 25px;
  border-radius: 6px;
  white-space: nowrap;
}

.sence-buttons .btn-primary {
  background-color: #f5f5f7;
  color: #462d8c;
}
.sence-buttons .btn-primary:hover {
  color: #462d8ccc;
  background: linear-gradient(rgba(70, 45, 140, 0.08), rgba(70, 45, 140, 0.08)),
    rgb(255, 255, 255);
  box-shadow: 0px 1px 3px 1px #ffffff3d;
  transition: transform 0.4s ease-in-out;
}
.sence-buttons .btn-secondary {
  color: #f5f5f7;
}
.sence-buttons .btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-bottom: 1px dashed transparent;
}

.btn-secondary:hover span {
  color: #a2a2b5;
  text-decoration: underline dashed 2px #a2a2b5;
  text-underline-offset: 14px;
}
.btn-secondary:hover span svg {
  stroke: #a2a2b5;
}

.sence .sence-premium {
  background-color: #141414;
}
.sence .sence-lite {
  background-color: #fcfbfb;
}
.sence-image {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s ease-in-out;
  pointer-events: none;
}
.sence-image img {
  display: block;
  width: 80%;
  height: auto;
}

/* second-card */
.secondary-content {
  color: black !important;
}
.secondary-price {
  font-family: Heebo-Regular;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  padding-block: 8px;
  color: black;
}
.sence-primary {
  background-color: #462d8c;
  color: #f5f5f7;
}
.sence-primary:hover {
  background: linear-gradient(
      rgba(255, 255, 255, 0.12),
      rgba(255, 255, 255, 0.12)
    ),
    rgba(70, 45, 140, 1);

  box-shadow: 0px 1px 2px 0px #0000004d;
  color: #ffffffcc;
  transition: transform 0.4s ease-in-out;
}
.sence-secondary {
  background-color: inherit;
  color: #462d8c;
}
.sence-secondary span svg {
  stroke: #462d8c;
}
.sence-secondary:hover span {
  color: #8579a5;
  text-decoration: underline dashed 2px #8579a5;
  text-underline-offset: 14px;
}
.sence-secondary:hover span svg {
  stroke: #8579a5;
}

@media screen and (min-width: 768px) {
  .sence {
    background-color: #e9e9e9;
    justify-content: space-between;
    flex-direction: row;
    gap: 36px;
    padding: 0px 80px 52px 80px;
  }
  .sence .sence-card {
    width: 50%;
    gap: 40px;
  }

  .sence-card:hover .sence-image {
    transform: scale(1.2) translateY(-30px);
    transform-origin: center center;
    transition: transform 0.4s ease-in-out;
  }

  .sence .card-content {
    padding: 76px 52px 0px 52px;
    gap: 12px;
  }
  .brand-name img {
    height: 16px;
  }
  .card-title p {
    font-size: 36px;
    line-height: 40px;
  }
  .sence-price {
    font-size: 22px;
    line-height: 30px;
    padding-block: 12px;
  }
  .sence-buttons .btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 40px;
  }
  .sence-image img {
    width: 120%;
  }
  .secondary-price {
    font-size: 22px;
    line-height: 30px;
    padding-block: 12px;
  }
}
