.bulk-order-steps {
  text-align: center;
  padding: 24px 18px;
}

.bulk-order-border{
    display: none;
}

.bulk-order-heading{
    font-family: 'Heebo-Regular';
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.6px;
    color: #1D1D1F;
    text-align: left;
}

.bulk-order-steps .bulk-order-subheading {
    color: #6E6E73;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    font-family: 'Heebo-Regular';
    margin: 4px 0 0;
    text-align: left;
}

.steps-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  margin-top: 12px;
  margin-bottom: 24px;
  position: relative;
}

.bulk-order-steps .step-text {
    background: #FAFAFA;
    width: 100%;
    text-align: left;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Heebo-Regular';
    font-weight: 400;
    color: #000000B2;
}

.bulk-order-steps .step-number {
    max-width: 42px;
    width: 100%;
    height: 42px;
    border-radius: 6px;
    color: #1D1D1F;
    font-family: Helvetica;
    font-size: 16px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    border: 1px solid #00000029;
    position: relative;
    background: #fff;
}

.bulk-order-steps .step-number::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: linear-gradient(180deg, #7EA7D6 0%, #7EA7D6 100%);
    z-index: 1;
    transition: none;
    border-radius: 4px;
}

.bulk-order-steps .step-number.active::before {
    height: 100%;
    transition: height 3s ease;
}

.bulk-order-steps .step-number.active {
    color: #fff;
    transition: color 0.3s ease 1s;
}

.bulk-order-steps .step-number:not(.active) {
    color: #1D1D1F;
    transition: none;
}

.bulk-order-steps .step-number:not(.active)::before {
    height: 0%;
    transition: none;
}

.bulk-order-steps .step-number span {
    position: relative;
    z-index: 2;
}

.steps-wrapper .step:not(:last-child) .step-number::after {
    content: "";
    position: absolute;
    bottom: -15px; /* adjust to match margin-bottom */
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 14px;
    border-left: 2px dotted #B3B3B3;
}

.step {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 16px;
}

.order-button {
    width: 100%;
    padding: 8px 24px;
    background-color: #462D8C;
    color: #fff;
    font-family: 'Heebo-Medium';
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    border-radius: 6px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
@media(min-width:768px){
    .bulk-order-border{
        display: block !important;
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translateX(-50%);
        width: 80%;
        border-bottom: 2px dashed #86868B;
    }
    .bulk-order-steps {
        padding: 56px 80px;
    }
    .step{
        flex-direction: column;
        width: max-content;
        gap: 24px;
    }
    .order-button{
        padding: 8px 32px;
        width: max-content;
        font-size: 16px;
    }
    .bulk-order-steps .step-text{
        background: none;
        width: 80%;
        padding: 0;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        text-wrap: balance;
    }
    .steps-wrapper{
        margin-top: 72px;
        flex-direction: row;
        gap: 58px;
        overflow-x: scroll;
        scrollbar-width: none;
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }
    .bulk-order-nums, .bulk-order-texts{
        flex-direction: row;
    }
    .bulk-order-nums{
        gap: 19vw;
    }
    .bulk-order-heading{
        font-size: 32px;
        line-height: 40px;
    }
    .bulk-order-steps .bulk-order-subheading{
        font-size: 14px;
        line-height: 22px;
    }
    .bulk-order-texts{
        gap: 4vw;
    }
    .bulk-order-steps .step-number {
        font-size: 28px;
        max-width: 80px;
        height: 52px;
    }
    .bulk-order-steps .step-number::before {
        width: 0%;
        height: 100%;
    }
    .bulk-order-steps .step-number.active::before {
        width: 100%;
        height: 100%;
        transition: width 3s ease;
    }
    .bulk-order-steps .step-number:not(.active)::before {
        width: 0%;
        height: 100%;
    }
    .steps-wrapper .step:not(:last-child) .step-number::after {
        display: none;
    }
}