.drawer {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(var(--color-foreground), 0.5);
  transition: visibility var(--duration-default) ease;
}
.ShowCartNote textarea{border: 1px solid lightgrey;min-height:50px;padding:0.5rem !important;}
.giftBoxSection input{accent-color: rgba(var(--color-button),var(--alpha-button-background));width:16px;}
.ShowCartNote #CartDrawer-Note::placeholder {
  color: lightgray !important;
  opacity:1 !important;
}
.cart__empty-text{font-size: 2.500vw;}
.CartItem .cart-item__totals .price {font-size: 1.52vw;}
.cart-item .cart-item__details .cart-item__name{
  color: #462D8C;
  font-size: 16px; 
  letter-spacing: 0px;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 4px;
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.cart-item .cart-item__details .cart-item__name:hover{text-decoration:none;}
 .cart-item__quantity .cart-item__quantity-wrapper .quantity{
  width: 134px;
  min-height: 3.2rem;
  height: 3.2rem;
  border: 1px solid #482F8FB2;
  background: transparent;
  border-radius: 6px;
 }
.cart-item__quantity .cart-item__quantity-wrapper .quantity::before, 
.cart-item__quantity .cart-item__quantity-wrapper .quantity::after{
  box-shadow: none;
} 
ul.CartItem__PropertyList {display: none;}
.cart-drawer .tax-note a{text-decoration:none; pointer-events:none;color:#121212bf;font-size: 12px;line-height: 18px;letter-spacing: .2px;color: #938f96;}
.CartItem  .CartItem__Info  .CartItem__Meta dl{margin:0;}
.drawer.active {
  visibility: visible;
}

.drawer__inner {
  height: 100%;
  width: 54.2rem;
  max-width: calc(100vw - 3rem);
  padding: 0 2.4rem;
  border-right: 0;
  background-color: rgb(var(--color-background));
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform var(--duration-default) ease;
}

.drawer__inner-empty {
  height: 100%;
  padding: 0 1.5rem;
  background-color: rgb(var(--color-background));
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cart-drawer__warnings {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

cart-drawer.is-empty .drawer__inner {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 0;
}

cart-drawer:not(.is-empty) .cart-drawer__warnings,
cart-drawer:not(.is-empty) .cart-drawer__collection {
  display: none;
}

.cart-drawer__warnings--has-collection .cart__login-title {
  margin-top: 2.5rem;
}

.drawer.active .drawer__inner {
  transform: translateX(0);
}

.drawer__header {
  position: relative;
  background-color: rgb(var(--color-background));
  padding: 1.6rem 0 1.2rem 0;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}
cart-drawer.is-empty .drawer__header {
  display: none !important;
}
.drawer__inner-empty + .drawer__header {
    display: none !important;
}
.drawer__heading {
  margin: 0 0 1rem;font-size: 1.8vw;text-transform: capitalize;
}

.drawer__close {
  padding: 0;
  color: rgb(var(--color-foreground));
  background-color: transparent;
  border: none;
  cursor: pointer;
  min-width: 24px;
  min-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-drawer__warnings .drawer__close {
  right: 5px;
  position: absolute;
  top: 10px;
}

.drawer__close svg {
  height: 1.4rem;
  width: 1.4rem;
}

.drawer__contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.drawer__footer {
  background-color: rgb(var(--color-background));
  padding: 0 0 2.4rem 0;
  position:sticky;
  bottom:0;
  z-index:1;
}

cart-drawer-items.is-empty + .drawer__footer {
  display: none;
}

.drawer__footer > details {
  margin-top: -1.5rem;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.2);
}

.drawer__footer > details[open] {
  padding-bottom: 1.5rem;
}

.drawer__footer summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 1.5rem 0;
}

.drawer__footer > details + .cart-drawer__footer {
  padding-top: 1.5rem;
}

cart-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

.cart-drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cart-drawer__overlay:empty {
  display: block;
}

.cart-drawer__form {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.cart-drawer__collection {
  margin: 0 2.5rem 1.5rem;
}

.cart-drawer .drawer__cart-items-wrapper {
  flex-grow: 1;
}

.cart-drawer .cart-items, .cart-drawer tbody {
  display: block;
  width: 100%;
}

.cart-drawer thead {
  display: inline-table;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: rgb(var(--color-base-background-1));
}

cart-drawer-items {
  overflow: auto;
  flex: 1;
  padding: 0;
}
cart-drawer-items::-webkit-scrollbar {
  display: none;
}
@media screen and (max-height: 650px) {
  cart-drawer-items {
    overflow: visible;
  }

  .drawer__inner {
    overflow: scroll;
  }
}

.cart-drawer .cart-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 12px;
  /* margin-bottom: 24px; */
  position: relative;
  background: #FAFAFA;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 16px;
  position: relative;
}
.cart-item:not(.pair-grouped) {
  padding-top: 12px;
  margin-bottom: 12px;
  border: 1px solid #00000029;
  border-radius: 12px;
}
/* .cart-drawer .cart-item:last-child {
  margin-bottom: 1rem;
} */

.cart-drawer .cart-item__media {
  grid-row: 1 / 3;
  line-height: 0;
  width: 134px;
  height: 105px;
}
.cart-item__media.custom_embroidery_media {
    height: 105px;
}

.cart-drawer .cart-item__image {
  max-width: 100%;
  border-radius: 8px;
  height: 100%;
  object-fit: cover;
}

.cart-drawer .cart-items thead {
  margin-bottom: 0.5rem;
}

.cart-drawer .cart-items thead th:first-child,
.cart-drawer .cart-items thead th:last-child {
  width: 0;
  padding: 0;
}

.cart-drawer .cart-items thead th:nth-child(2) {
  width: 90%;
  padding-left: 0;
}

.cart-drawer .cart-items thead tr {
  display: table-row;
  margin-bottom: 0;
}

.cart-drawer .cart-items th {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

/* .cart-drawer .cart-item:last-child {
  margin-bottom: 1.5rem;
} */

.cart-drawer .cart-item .loading-overlay {
  right: 5px;
  padding-top: 2.5rem;
}

.cart-drawer .cart-items td {
  padding-top: 0;
}

.cart-drawer .cart-item > td + td {
  padding-left: 0;
}

.cart-drawer .cart-item__details {
  width: auto;
  grid-column: 2 / 4;
  position: relative;
}
.cart-item__media:not(.custom_embroidery_media) + .cart-item__details{
  height: 100px;
}
.cart-drawer .cart-item__totals {
  pointer-events: none;
  display: flex;
}

.cart-drawer.cart-drawer .cart-item__price-wrapper .price {
  margin-top: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #202020;
  font-family: 'Heebo-Medium';
  font-weight: 500;
}

.cart-drawer .cart-item__price-wrapper .cart-item__discounted-prices {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.2rem;
}
.cart-drawer .cart-item__price-wrapper .cart-item__discounted-prices .cart-item__old-price {
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 0px;
  font-family: 'Heebo-Regular';
  font-weight: 400;
  color: #938F96;
}
.cart-drawer .unit-price {
  margin-top: 0.6rem;
}

.cart-drawer .cart-items .cart-item__quantity {
  padding-top: 0;
  grid-column: 1 / 5;
  height: fit-content;
  margin-top: 16px;
}
.cart-item cart-remove-button{
  width: 24px;
  height: 24px;
}
.giftBoxSection input{width:13px;height:13px;margin:0 !important;}
.cart-drawer__footer > * + * {
  margin-bottom: 1.05rem;
}
.cart-drawer__footer{
  display: flex;
  flex-direction: column;
  max-width: 95.5%;
  width: 100%;
  margin: auto;
}
.cart-drawer .totals {
  justify-content: space-between;
  margin-top: 10.5px;
  margin-bottom: 12px;
}

.cart-drawer .price {
  line-height: 1;
}

.cart-drawer .tax-note {
  margin: 0;
  text-align: left;
  width: 100%;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #938F96;
  text-align: center;
}

.cart-drawer .product-option dd {
  word-break: break-word;
}

.cart-drawer details[open]>summary .icon-caret {
  transform: rotate(180deg);
}

.cart-drawer .cart__checkout-button {
  max-width: none;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.6px;
  height: 46px;
  margin-bottom: 8px;
  font-family: 'Heebo-Medium';
  font-weight: 500;
  background-color: #462D8C;
}
.cart-drawer .cart__checkout-button::after,
.cart-drawer .cart__checkout-button::before{
  display: none;
}
.drawer__footer .cart__dynamic-checkout-buttons {
  max-width: 100%;
}

.drawer__footer #dynamic-checkout-cart ul {
  flex-wrap: wrap !important;
  flex-direction: row !important;
  margin: 0.5rem -0.5rem 0 0 !important;
  gap: 0.5rem;
}

.drawer__footer [data-shopify-buttoncontainer] {
  justify-content: flex-start;
}

.drawer__footer #dynamic-checkout-cart ul > li {
	flex-basis: calc(50% - 0.5rem) !important;
  margin: 0 !important;
}

.drawer__footer #dynamic-checkout-cart ul > li:only-child {
  flex-basis: 100% !important;
  margin-right: 0.5rem !important;
}
.cart-size dt, dd{font-family: 'Heebo-Regular'; font-size:0.938vw;}
.product-option.cart-size > * {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.2px;
    font-family: 'Heebo-Regular';
    font-weight: 400;
    color: #938F96;
}

.cart__note{
  max-height:0;
  transition-duration: 30s;
  transition-property: auto;
  transition-timing-function: linear;
  transition-delay: 2s;
  overflow:hidden
}

.ShowCartNote{
    max-height:100% !important;
}
.giftBoxSection{
  position:relative;
}
.gfgFreeGiftMsgTextContainer{
  gap: 0 !important;
  justify-content: flex-start !important;
}
.gfgCartPageWrapperV2{
  order: -1;
  margin-left: -24px;
  margin-right: -24px;
  background-color: #2C2C2C0F;
}
.gfgCartPageWrapperV2 .gfgSingleOffergiftContainerDiv{
  max-width: 100% !important;
  background-color: unset !important;
  border: unset !important;
  padding: 12px 24px;
}
.gfgFreeGiftMsgPillBox{
  padding: 6.5px !important;
  border-radius: 4px !important;
  height: 20px !important;
  margin-bottom: 6px;
  border: 1px solid #00000029;
}
.gfgFreeGiftSingleOfferSelectDiv{
  padding: 0 !important;
  grid-gap: 12px !important
}
.loading-overlay__spinner.giftBoxLoader {
    position: absolute;
      background: white;
    margin: 3px 5px 0 4px;
    left: -4px;
    width: 15px;
    height: 20px;
  z-index:99;
      top: 10px;
}
.gfgFreeGiftClaimButton{
  width: max-content;
  background: transparent !important;
  border: 1px solid #79747E !important;
  line-height: 15.84px !important;
  letter-spacing: 0.6px;
  font-weight: 500 !important;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.gfgFreeGiftInvalidProductClaimButton{
  color: #482F8F !important;
}
.gfgFreeGiftMsgIconImageElementOfItem{
  border: unset !important;
  object-fit: contain !important;
}
.loading-overlay__spinner.giftBoxLoader svg{
  width:15px;
  height:15px;
}

.giftInput{
  display:flex;
  align-items:center;
  gap: 24px;
}

.giftInput label{
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
  color: #000000;
  font-family: 'Heebo-Regular';
  font-weight: 400;
}
.drawerInput{
  pointer-events:none;
}
.gfgFreeGiftMsgTitle{
  line-height: 18px !important;
  font-weight: 500 !important;
  letter-spacing: 0.1px !important;
}
.gfgFreeGiftMsgSubTitle{
  line-height: 100% !important;
  letter-spacing: 0.1px !important;
  font-weight: 400 !important;
}
.gfgVolDiscountWrapper:not(:empty){
  margin: 0 !important;
}
.gfgFreeGiftPillTitle{
  font-weight: 500;
  letter-spacing: 0.1px !important;
}
.cart-item__media:not(.custom_embroidery_media) + .cart-item__details dl{
  display: flex;
  align-items: baseline;
  /* position: absolute; */
  bottom: 0;
  flex-wrap: wrap;
}
.cart-item .cart-item__media:not(.custom_embroidery_media) + .cart-item__details .product-option:not(:last-child)::after {
    content: '|';
    margin-right: 4px;
    color: #938F96;
}
@media screen and (max-width: 749px) {
  .drawer__heading{font-size: 22px;color: #000;}
  .CartItem .cart-item__totals .price {font-size: 12px;}
  .cart-item .cart-item__details .cart-item__name{
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0;
    margin-bottom: 2px;
  }
  /* .cart-drawer .cart-item__media{
    width: 96px;
    height: 78px;
  } */
  /* .cart-item__media.custom_embroidery_media{
    height: 88px;
  } */
  .cart-drawer .cart-items .cart-item__quantity{
    left: 12px;
    margin-top: 12px;
  }
  cart-drawer-items{
    padding: 0;
  }
  .cart-drawer.cart-drawer .cart-item__price-wrapper .price{
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0;
  }
  .cart-drawer .cart-item__price-wrapper .cart-item__discounted-prices .cart-item__old-price{
    font-size: 8px;
    line-height: 14px;
    letter-spacing: 0;
  }
  .cart-item cart-remove-button{
    width: 18px;
    height: 18px;
  }
  .cart-drawer__footer{
    max-width: 100%;
  }
  .gfgCartPageWrapperV2{
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: 7.5px !important;
  }
  .gfgCartPageWrapperV2 .gfgSingleOffergiftContainerDiv{
    padding: 12px;
  }
  .gfgFreeGiftMsgIcon{
    width: 56px !important;
    height: 58px !important;
  }
  .gfgFreeGiftMsgTitle {
    font-size: 13px !important;
    line-height: 16px !important;
  }
  .gfgFreeGiftClaimButton{
      padding: 12px 16px !important;
      height: 36px !important;
  }
  .giftInput label{
    font-size: 12px;
  }
  .giftInput{
    gap: 9px;
  }
  .cart-drawer .sub-total-cart{
    font-size: 16px;
    line-height: 20px;
  }
  .cart-drawer .totals{
    margin-top: 15.5px;
  }
  .cart-drawer .cart__checkout-button{
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 15.84px;
    height: 36px;
  }
  .cart-drawer .tax-note a{
    border-bottom: 1px solid #938f96;
  }
  .cart-drawer .cart-item {
    padding-left: 8px;
    padding-right: 8px;
    column-gap: 8px;
    padding-bottom: 12px;
  }
  .cart-item__media:not(.custom_embroidery_media) + .cart-item__details dl{
    bottom: 0;
  }
  .cart-drawer .cart-item__image {
    border-radius: 4.3px;
  }
  .cart-item__media:not(.custom_embroidery_media) + .cart-item__details{
    height: 78px;
  }
  .cart-item:not(.pair-grouped) {
    margin-bottom: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
@media screen and (min-width: 750px) {
  .drawer__footer #dynamic-checkout-cart ul > li {
    flex-basis: calc(100% / 3 - 0.5rem) !important;
    margin: 0 !important;
  }

  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2),
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2) ~ li,
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4),
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4) ~ li {
	  flex-basis: calc(50% - 0.5rem) !important;
  }
  .gfgFreeGiftMsgIcon{
    width: 60px !important;
    height: 62px !important;
  }
  .gfgFreeGiftClaimButton{
      padding: 12px 24px !important;
      height: 40px !important;
  }
  .gfgCartPageWrapperV2{
    margin-bottom: 10.5px !important;
  }
}

cart-drawer-items::-webkit-scrollbar {
  width: 3px;
}

cart-drawer-items::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-foreground), 0.7);
  border-radius: 100px;
}

cart-drawer-items::-webkit-scrollbar-track-piece {
  margin-top: 31px;
}
.empty-cart-btn{font-size:1.250vw;}
@media screen and (min-width: 640px) and (max-width:1024px){
  .empty-cart-btn{font-size:1.563vw !important;}
  .cart__empty-text{font-size: 3.125vw !important;}
  .upper-line-drawer th{font-size:1.172vw !important;}
  .shop-cont-cart{font-size:1.563vw !important;}
   .cart-items .caption-with-letter-spacing{font-size:1.563vw !important;}
}
@media screen and (max-width: 640px){
    .cart__empty-text{font-size: 32px;}
  .empty-cart-btn{font-size:16px !important;}
  .upper-line-drawer th{font-size:12px !important;}
  .upper-line-drawer th{font-size:12px !important;}
  .cart-drawer .tax-note{font-size:12px !important; letter-spacing: 0.06px;}
  .shop-cont-cart{font-size:16px !important;}
  .cart-items .caption-with-letter-spacing{font-size:16px !important;}
  .product-option.cart-size > *{
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0;
  }
  .drawer__inner {
    max-width: 100vw;
    width: 95.385vw;
  }
}
@media screen and (max-width: 380px) {
  .cart-item .cart-item__details .cart-item__name{
    font-size: 13px;
    line-height: 18px;
  }
  .product-option+.product-option{
    margin-top: 0;
  }
  .cart-drawer .cart-item{
    column-gap: 6px;
  }
  .product-option.cart-size>*{
    font-size: 10px;
    line-height: 14px;
  }
}
.upper-line-drawer th{font-size:0.938vw;}
.sub-total-cart{font-size:0.938vw;}
.cart-price{font-size:0.938vw ;font-family: 'Heebo-Regular';}
.shop-cont-cart{font-size:1.250vw;}
.cart-items .caption-with-letter-spacing{font-size:1.250vw;}
@media screen and (min-width: 1900px) and (max-width:2700px){
  .drawer__inner{
    width: 57rem !important;}
}