.newsletter-form {display: flex;justify-content: flex-start;align-items: center;flex-direction: column;width: 100%;justify-content: center;position: relative;}
.newsletter-form__message--exist{display:none;color:white;font-family:Barlow-Regular;}
.newsletter-form__message--existM{display:none;color:white;font-family:Barlow-Regular;}
@media screen and (min-width: 749px) {
  .newsletter-form {align-items:baseline;margin: 0 auto;max-width: inherit;}
  .an-mobile-email-form{display:none;}
}
@media screen and (min-width: 1600px){
  .newsletter-form{max-width:inherit;}
}
@media(max-width:640px){
  .newsletter-form__field-wrapper{padding-bottom:20px}
  .newsletter-form{display:block !important;}
}
@media(max-width:749px)
{ .an-desktop-email-form{display:none;}
  .an-mobile-email-form{align-items:flex-start}
}

.newsletter-form__field-wrapper {
  width: 100%;
}

.newsletter-form__field-wrapper .field__input {
  padding-right: 5rem;
}

.newsletter-form__field-wrapper .field {
  z-index: 0;
}

.newsletter-form__message {
  justify-content: center;
  margin-bottom: 0;
}

.newsletter-form__message--success {
  margin-top: 2rem;
}

@media screen and (min-width: 750px) {
  .newsletter-form__message {
    justify-content: flex-start;
  }
}

.newsletter-form__button {
  width:9.2rem;
    color: #fff;
  margin: 0;
  right: var(--inputs-border-width);
  top: 0;
  height: 100%;
  z-index: 2;
}

.newsletter-form__button:focus-visible {
  box-shadow: 0 0 0 .3rem rgb(var(--color-background)),0 0 0 .4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:focus {
  box-shadow: 0 0 0 .3rem rgb(var(--color-background)),0 0 0 .4rem rgba(var(--color-foreground));
  background-color:transparent;
}

.newsletter-form__button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  font-family: Barlow-Rgular;
    font-size: 1.176vw;
  }

.newsletter-form__button .icon {
  width: 2.344vw;
}

/* AN Newsletter CSS */

.AN-Footer-Input{border-radius:4px;}
.AN-Footer-Input-Button{border-top-right-radius:4px;border-bottom-right-radius:4px;background-color:transparent;display:flex;justify-content:end;}
.AN-Footer-Input-Button svg{object-fit:cover;height:40px;position:relative;right:-1px;} 
.AN-Footer-Form{margin:0;}
/* .AN-Newsletter-Div{width:248px !important;}  */
.AN-Footer-Input-Button svg{height:45px;}
.AN-Footer-Input{box-shadow:none !important;outline:none !important;}
.AN-Footer-Input:focus{border-radius:4px;}
.AN-Footer-Input::placeholder{opacity:1;color:#ccc;}
.newsletter-form__message{color:white;font-family:Barlow-Regular;}
@media(min-width:601px) and (min-width:1024px){
  
  .newsletter-form__button .icon {
  width: 2.930vw;
}
}
@media(max-width:600px){
  .newsletter-form__button .icon {
  width: 30px;
}
.AN-Newsletter-Div{width:88% !important;}
.AN-Footer-Input-Button svg{height:40px;}
.newsletter-form__message--success{margin-top:1rem;}
}



