.count-ticker-section{
    padding: 24px 18px;
    background: #EEEDF3;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.count-ticker-heading{
    font-family: 'Heebo-Regular';
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    color: #1D1D1F;
    letter-spacing: 0.6px;
    margin: 0;
}
.count-ticker-subheading{
    font-family: 'Heebo-Regular';
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #6E6E73;
    margin: 4px 0 0;
}
.count-ticker-block-container{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.count-ticker-block{
    border: 1px solid #A3A3A3;
    padding: 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 52px;
    width: 100%;
}
.count-ticker-block-heading{
    font-family: 'Heebo-Regular';
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #2E3642;
    margin: 0;
    text-align: left;
}
.count-ticker-content{
    font-family: 'Heebo-Light';
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    color: #1D1D1F;
    margin: 0;
    text-align: left;
}
.count-ticker-block-content{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.count-ticker-block-subheading{
    font-family: 'Heebo-Regular';
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #6E6E73;
    margin: 0;
    text-align: left;
}
@media(min-width: 768px){
    .count-ticker-block-container{
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 32px;
    }
    .count-ticker-section{
        padding: 52px 80px 62px;
    }
    .count-ticker-heading{
        font-size: 32px;
        line-height: 40px;
    }
    .count-ticker-subheading{
        font-size: 14px;
        line-height: 22px;
    }
    .count-ticker-content{
        font-size: 92px;
        line-height: 100px;
        white-space: nowrap;
    }
    .count-ticker-block-subheading{
        font-size: 22px;
    }
}