.drift-jacket-hero-banner {
  width: 100%;
    position: relative;
  height: auto;
}
.drift-jacket-hero-banner .drift-content {
  position: absolute;
  z-index: 2;
  background-color: transparent;
  bottom: 217px;
  left: 80px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.drift-jacket-hero-banner .drift-content .drift-introducing {
  padding: 4px 12px;
  border-radius: 20px;
  font-family: Heebo-Regular;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  border: 0.67px solid #d7e169;
  color: #d7e169;
  cursor: pointer;
  height: 28px;
}
  .drift-gif-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
  }

.drift-jacket-hero-banner .drift-content .drift-title {
  margin: 0px;
}
.drift-jacket-hero-banner .drift-content .drift-title img {
  display: block;
  width: 434px;
  height: 124px;
}

.drift-description {
  width: 70%;
  margin: 0px;
  font-family: Heebo-Regular;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  color: var(--color-grey-83, #d2d2d7);
  white-space: wrap;
}

.drift-cta-button {
  font-family: Heebo-Medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  cursor: pointer;
  padding: 8px 32px;
  color: #ffffff;
  background-color: #462d8c;
  border-radius: 8px;
  border: none;
}


.drift-image {
  width: 100%;
  z-index: 1;
}

.drift-image img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 768px) {
    .drift-jacket-hero-banner{
        height: auto;
    }
  .drift-jacket-hero-banner .drift-content {
    bottom: 0px; 
    left: 24px;
    right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }

  .drift-jacket-hero-banner .drift-content .drift-introducing {
    padding: 2px 16px;
    border-radius: 12px;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.5%;
    height: 20px;
    margin-bottom: 16px;
  }
  .drift-gif-container{
        align-items: center;
    gap: 8px;
  }

  .drift-jacket-hero-banner .drift-content .drift-title img {
    display: block;
    width: 196px;
    height: 64px;
  }

  .drift-description {
    text-align: center;
    width: 84%;
    font-size: 18px;
    line-height: 22px;
    padding-top: 2px;
    margin-bottom: 28px;
  }

  .drift-cta-button {
    font-size: 14px;
    line-height: 20px;
    padding: 8px 24px;
    margin-bottom: 38px;
  }
}
