   .impact-big-container{background: #f4ecd0;}
   .impact-container {background: #f4ecd0;}
   .impact-main-container {position: relative;display: flex;background: #f4ecd0;width: 100%;height: auto;}
   .impact-image-container {width: 50%;height: auto;z-index: 2;margin: 0 0 3rem;}
   .impact-image-final .impact-mobile-image {display: none;}
   .impact-text-conatiner {position: absolute;width: 50%;height: auto;display: flex;left: 50%;bottom: 0;margin: 0 0 4rem;}
   .impact-image-final .impact-web-image {width: 100%;height:auto;margin-left: 7vw;}
   .impact-text-subtext-conatiner {margin-left: 2.5vw; /*margin-bottom: 1.3vw; margin: 0 0 2rem; */ z-index: 1;}
   .impact-heading p {color: #482f8f;font-style: normal;font-weight: 500;font-size: 3.594vw;}
   .main-text-conatiner {color: #482f8f;}
   .main-text-conatiner h2 {font-size: 2.969vw;font-style: normal;font-weight: 600;}
   .main-text-conatiner p {font-size: 1.250vw;width: 21.859vw;font-style: normal;font-weight: 400;}
   .side-bg-container {position: absolute;right: 0px;width: 29.5vw;background: #F4ECD0;opacity: 0.2;bottom: -30px;z-index: 0;border-top-left-radius: 50%;}
   .sub-text-container {background: #f6917e;border-top-right-radius: 36px;margin-left: -8.5vw;margin-top: 2.9vw;}
   .sub-text-para {margin:0;padding: 0.5vw 5vw 0.5vw 8.5vw;font-size: 1.406vw;color: #f4ecd0;font-style: normal;font-weight: 500;width: 41.859vw;}
   .side-bg-container img {width: 100%;height: auto;}
   .mobile-para-container {display: none;}
   @media screen and (max-width:767px) {
   	.impact-image-final .impact-web-image {display: none;}
      .impact-heading p {margin-bottom:0;font-size: 42px;}
   	.main-text-conatiner h2 {font-style: normal;font-weight: 500;font-size: 22px; font-family: 'Heebo-Medium' !important;}
   	.impact-mobile-image {display: block !important;height: 100%;width: 100%;}
   	.impact-main-container {flex-direction: column;}
   	.side-bg-container img {display: none;}
   	.main-text-conatiner p {display: none;}
   	.mobile-para-container {display: block;}
   	.impact-image-container {width: 100%}
   	.impact-text-conatiner {position: unset;width: 100%;flex-direction: column;text-align: center;margin:0;}
      .impact-text-subtext-conatiner {margin-bottom: 2rem;margin-left:unset;;z-index: 1;}
   	.sub-text-container {margin-left: 3px;border-top-right-radius: 36px;border-bottom-left-radius: 36px;margin-right: 3px;}
   	.sub-text-para {padding: 10px 15px;color: #f4ecd0;font-style: normal;font-weight: 500;font-size: 16px;margin-inline-end: unset;width: unset;}
   	.mobile-para-container .text-para-mobile {font-style: normal;font-weight: 400;font-size: 12px;color: #482F8F;margin: 0 0 1rem 0;font-family: 'Heebo-Medium' !important;}
   }

  @media screen and (min-width:767px) and (max-width:880px) {
    .impact-heading p{font-size: 4.492vw;}
    .impact-image-container{width: 57%;}
    .side-bg-container {display: none;}
    .impact-image-final .impact-web-image{margin-left: unset;}
    .impact-text-subtext-conatiner{margin-left: 1vw;margin-bottom: 3.7vw;}
    .main-text-conatiner h2{font-size: 3.711vw;}
    .main-text-conatiner p{font-size: 1.563vw;width: 28.859vw;}
    .sub-text-para{width: 41.859vw;font-size: 1.758vw;}
    .impact-text-conatiner{margin: 0 0 1rem}
   }
  @media screen and (min-width:880px) and (max-width:1024px) {
    .side-bg-container {display: none;}
    .sub-text-para{width: 42.859vw;}

  }