.endless-aisle__login-container {
  background-color: #fff;
  padding: 30px;
  width: 300px;
  margin: 50px auto;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  text-align: center;
  border-radius: 6px;
}

.endless-aisle__login-container h2 {
  font-size: 20px;
  margin-bottom: 25px;
  line-height: 1.4;
}

.endless-aisle__login-container label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
  font-family: "Heebo-Regular";
  font-weight: 400;
}

.endless-aisle__login-container input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 20px;
  background-color: #f6f6f6;
  font-family: "Heebo-Regular";
  font-weight: 400;
  margin-bottom: 5px;
}

.endless-aisle__login-btn {
  width: 100%;
  border: 2px solid #e5e5e5;
  background: #462d8c;
  min-height: 42px;
  color: #fff;
  cursor: pointer;
  font-family: "Heebo-Medium";
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1.2px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.endless-aisle__signup-text {
  margin-top: 20px;
  font-size: 14px;
}

.endless-aisle__signup-text a {
  color: #0056d2;
  text-decoration: none;
}
#endlessAislEmailError {
  ont-family: Heebo-Regular;
  font-weight: 400;
  font-size: clamp(12px, calc(12 * (100vw / 1440)), 14px);
  line-height: 1.5;
  letter-spacing: 0.004px;
  vertical-align: middle;
  color: #ff3b30;
  width: 100%;
  text-align: left;
  margin-top: 0;
}

/* 2nd page */
.endless-aisle__maincontainer.endless-aisle__maincontainerAddress {
  display: none;
}

.endless-aisle__maincontainer {
  padding: 1.5rem;
  border-radius: 8px;
}

.endless-aisle__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.endless-aisle__logout-btn {
  padding: 1rem 3rem;
  border: 1px solid #462d8c;
  background-color: #462d8c;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  line-height: 1;
}

.endless-aisle__section h3 {
  margin-bottom: 1rem;
}

.endless-aisle__address-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.endless-aisle__card {
  background-color: #f1f1f1;
  padding: 1rem;
  border-radius: 6px;
  line-height: 1.6;
}

.endless-aisle__card strong {
  display: block;
  margin-bottom: 0.25rem;
}

.endless-aisle__card--highlight {
  background-color: #e9e9e9;
  border: 2px solid #ccc;
}

.endless-aisle__nav-buttons button:disabled {
  opacity: 0.5;
  cursor: no-drop;
}

@media (max-width: 600px) {
  .endless-aisle__address-grid {
    grid-template-columns: 1fr;
  }
  .endless-aisle__header {
    flex-direction: column-reverse;
    align-items: first baseline;
    margin-bottom: 0;
  }
  .endless-aisle__nav-buttons {
    margin-bottom: 15px;
    justify-content: space-between;
    width: 100%;
  }
}
@media (max-width: 400px) {
  .endless-aisle__login-container {
    width: 100%;
  }
}
/* card */
.endless-aisle__card strong {
  font-family: Heebo-Medium;
  font-weight: 500;
  font-size: clamp(16px, calc(16 * (100vw / 1440)), 18px);
  line-height: 1.375;
  letter-spacing: 0;
  vertical-align: middle;
  color: #1e192b;
}
.endless-aisle__card p {
  font-family: Heebo-Regular;
  font-weight: 400;
  font-size: clamp(14px, calc(14 * (100vw / 1440)), 16px);
  line-height: 1.428;
  letter-spacing: 0.004px;
  vertical-align: middle;
  color: #616161;
}
.endless-aisle__section h3 {
  font-family: Heebo-Medium;
  font-weight: 500;
  font-size: clamp(16px, calc(16 * (100vw / 1440)), 18px);
  line-height: 1.375;
  letter-spacing: 0;
  vertical-align: middle;
  color: #1e192b;
  margin-bottom: 20px;
}
.endless-aisle__header h2 strong,
.ea-modal-content h2 {
  font-family: Heebo-Medium;
  font-weight: 500;
  font-size: clamp(16px, calc(16 * (100vw / 1440)), 18px);
  line-height: 1.375;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  color: #1e192b;
}
#endless-aisle__customer-name,
span#endless-aisle__customer-order,
span#endless-aisle__customer-email,
span#endless-aisle__customer-orderEmail {
  font-family: Heebo-Regular;
  font-weight: 400;
  font-size: clamp(16px, calc(14 * (100vw / 1440)), 18px);
  line-height: 1.428;
  letter-spacing: 0.004px;
  vertical-align: middle;
  color: #616161;
}
.endless-aisle__nav-buttons {
  display: flex;
  align-content: center;
  gap: 15px;
}
.endless-aisle__continue-btn {
  font-family: Heebo-Medium;
  font-weight: 500;
  font-size: clamp(12px, calc(14 * (100vw / 1440)), 16px);
  line-height: 1.131;
  text-align: center;
  color: #f4ecd0;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 0.6px;
  border: 1px solid #462d8c;
  background-color: #462d8c;
  padding: 1rem 4rem;
}
.endless-aisle__continue-btnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* create customer */

.ea-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.ea-modal-content {
  background: white;
  padding: 24px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
}
.ea-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.ea-modal-content {
  background: white;
  padding: 24px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
}

body.modal-open-customer {
  overflow: hidden !important;
}

.ea-modal-close {
  position: absolute;
  right: 15px;
  top: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #666;
  padding: 5px 10px;
}

.ea-modal-close:hover {
  color: #333;
}

.ea-form-grid_login {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 0;
  column-gap: 16px;
  margin-bottom: 20px;
}
.ea-form-grid_login input {
  margin-bottom: 10px;
}

.ea-form-grid_login label,
.ea-form-grid_login input {
  font-family: Heebo-Regular;
  font-weight: 400;
}
.ea-form-grid label,
.ea-form-grid input {
  font-family: Heebo-Regular;
  font-weight: 400;
}

.ea-form-full {
  grid-column: span 2;
}

.required {
  color: red;
  margin-left: 2px;
}
