.test-swiper2 {
  width: 100%;
  height: auto;
}

.top-brands .brand-test .swiper-wrapper .brand-slide {
  background: none !important;
  margin-bottom: -13px;
  margin-top: -15px;

  width: calc(135 * (100vw / 1440));
  margin-right: 46px;
}

/* .brand-slide {
  background: none !important;
  margin-bottom: -13px;
  margin-top: -15px;
} */

.top-brands {
  background-color: #f6917e;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.custom-wraper1 {
  margin-left: -82px;
  -webkit-transition-timing-function: linear;
}
/* .sliderCont .swiper-wrapper{display:flex;} */

@media screen and (max-width: 1130px) {
  .brand-slide {
    margin-bottom: 2px;
    margin-top: 0px;
    width: calc(91 * (100vw / 1050));
  }
}

@media screen and (max-width: 640px) {
  .top-brands .brand-test .swiper-wrapper .brand-slide {
    width: calc(148 * (100vw / 400));
    margin-right: 20px;
  }
}

@media screen and (max-width: 480px) {
  .custom-wraper1 {
    margin-left: -33px !important;
  }
}
