.top-join{background: #F4ECD0; }
.joinh1{padding-bottom: 20px;padding-top: 29px;padding-right: 26px;}
  .join-slidee{background:transparent !important;padding-bottom: 43px;}
  .join-swipp{overflow-x: hidden;padding-right:0;}
  .joinHeading,h5.instaJ{color:#482f8f}
  .join{width:100%;height:auto;padding-left:1%}
.join-upper-div {padding-right: 1%;}
.instaJ {position: absolute;}
.back-social{position:absolute; display:none;}
.back-social-inst{position:absolute; display:none;}
.div-insta:hover .back-social-inst{display:block;}
.div-youtube:hover .back-social{display:block;}
.desk-vid .deferred-media__poster-button svg{width:25px; position:absolute;}
.socialDiv img{width:100%; height:auto;}
/* {% comment %}   .swiper-slide{text-align:center;font-size:18px;background:#fff;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center} {% endcomment %} */
  .swiper-slide img{display:block;width:100%;height:100%;object-fit:cover}
  .sweepSlide{flex-direction:column; background:transparent !important;position: relative;}
img.thumb-img {
    position: absolute;
    top: 0;
}
  .joinText{position: absolute;top: 0;font-weight:400;font-size:1.094vw;line-height:120%;color: #F4ECD0;padding: 0px 0px 0px 11px; overflow: hidden;
  margin: 0;height: 100%;display: flex;justify-content: center;align-items: center;}
  .belowText{display: flex;text-align: center;justify-content: flex-start;position:relative;width: 101%;margin-top:5px;height:auto;margin-left:-2px;background-repeat: no-repeat;
    background-size: cover;}
  .joinHeading{margin-right:auto;display:flex;align-items:center;gap:16px;padding-bottom: 20px;padding-bottom: 20px;}
  a{text-decoration:none}
  .socialDiv{width: 10.922vw;height:37px;display:flex;justify-content:center;align-items:center;position: relative;cursor: pointer;}
  .endDiv{display:none}
/*   @media screen and (min-width:1395px){.belowText{width:79%;height:42px}.joinText{font-size:13px}} */
/*   @media only screen and (max-width:660px) and (min-width:494px){.belowText{width:66%}} */
  @media only screen and (max-width:660px){.joinh1{width: 63%;}  .joinText{font-size:14px !important;}.socialDiv h5{font-size:14px;}.socialDiv {
    width: 134px !important;
}}
 @media only screen and (max-width:660px) and (min-width:400px){
   .socialDiv {
    width: 148px!important;
}
 }
  @media only screen and (max-width:660px){.endDiv{gap:20px;display:flex;margin-top: -20px;    justify-content: space-between;
    width: 65%;
   padding-bottom: 65px;}.upperDiv{display:none}}
/*   @media only screen and (min-width:1850px){.socialDiv{padding: 20px;
    background-size: cover; width:15%;}} */
  @media only screen and (min-width:661px) and (max-width:1024px){
    .joinText{    font-size: 1.367vw;}
    .socialDiv h5{font-size:1.250vw;}}
@media screen and (min-width:767px){.mob-vid.swiper-slide.sweepSlide { display: none;}}
@media screen and (max-width:767px){.desk-vid.sweepSlide{display:block;}}
@media only screen and (max-width:1000px){
  .socialDiv {
    width: 121px;}
}
@media only screen and (min-width:1800px){
  .joinText {
       padding: 0 0 0 23px;}
  .belowText{margin-left: -3px;}
}