.product-feature-card {
  background-color: #1f1f29;
  padding: 56px 80px;
}
.product-feature-card .product-feature-title {
  color: #fafafa;
  font-family: Heebo-Medium;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.64px;
  margin-bottom: 24px;
}

.product-feature-card .product-feature-slider {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;
}

.product-feature-card .product-feature-slider .product-feature-image {
  border-radius: 24px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.product-feature-card .product-feature-slider .product-feature-image img {
  width: 100%;
  height: 100%;
  display: block;
}

.product-feature-card
  .product-feature-slider
  .product-feature-image
  .product-feature-text-overlay {
  position: absolute;
  bottom: 44px;
  left: 36px;
  right: 0;
}

.product-feature-card
  .product-feature-slider
  .product-feature-image
  .feature-heading,
.feature-subheading {
  font-family: Heebo-Regular;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #dbd2c1;
  margin: 0px;
}

.product-feature-card
  .product-feature-slider
  .product-feature-image
  .feature-heading {
  margin-bottom: 12px;
}

.card-videos {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .product-feature-card {
    padding: 24px 0px 24px 18px;
  }

  .product-feature-card .product-feature-title {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.24px;
    margin-bottom: 16px;
  }

  .product-feature-card .product-feature-slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 28px;
    scrollbar-width: none;
    overflow-y: hidden;
    -ms-overflow-style: none;
  }
  .product-feature-card
    .product-feature-slider
    .product-feature-image:last-child {
    margin-right: 18px;
  }

  .product-feature-card .product-feature-slider::-webkit-scrollbar {
    display: none;
  }
  .product-feature-card .product-feature-slider .product-feature-image {
    flex: 0 0 84%;
    scroll-snap-align: start;
    aspect-ratio: 1 / 1.25;
  }

  .product-feature-card
    .product-feature-slider
    .product-feature-image
    .product-feature-text-overlay {
    bottom: 36px;
    left: 24px;
  }

  .product-feature-card
    .product-feature-slider
    .product-feature-image
    .feature-heading,
  .feature-subheading {
    font-size: 20px;
    line-height: 27.79px;
    letter-spacing: 0px;
    margin: 0px;
  }
}
