.footer {
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.08);
}
.footer__blocks-wrapper .first-flex-div img {
  width: 100%;
  height: auto;
}
.footer:not(.color-background-1) {
  border-top: none;
}
#exiting_customer {
  display: none;
}
.footer__content-top {
  padding-bottom: 1rem;
  padding-top: 2rem;
  display: block;
}
.footer-social.mobile{
  display: none;
}
p.footer-mobile-number {
  font-size: 16px;
  letter-spacing: 0.25px;
  line-height: 20px;
  font-weight: 400;
  font-family: 'Heebo-Regular';
  margin: 0 0 4px 0;
  display: flex;
}
p.footer-mobile-number span:first-child {
  font-size: 12px;
  margin-right: 4px;
}
.footer-block-grid-main{
  display:flex;
  width:100%;
}
@media screen and (max-width: 749px) {
  .footer .grid {
    display: block;
  }
  .footer-social {
    padding: 12px 0 30px 0;
  }
  .footer-block.grid__item {
    padding: 0;
    /*     margin: 4rem 0; */
    width: 50%;
  }
  .footer-3rd {
    /*display:none;*/
  }
  /*   .footer-block.grid__item {
    margin-top: 4rem;
  } */
  .footer-block.grid__item:third-child {
    display: none;
  }
  .footer-block__details-content .footer-block-content {
    gap: 10px;
  }

  .footer__content-top {
    /*     padding-bottom: 3rem; */
    /*     padding-left: calc(4rem / var(--font-body-scale));
    padding-right: calc(4rem / var(--font-body-scale)); */
  }
  .footer-social.mobile{
    display: block;
  }
  .footer-social.desktop{
    display: none;
  }
  p.footer-mobile-number{
    font-size: 14px;
    margin: 0;
  }
  p.footer-mobile-number span:first-child {
    font-size: 9px;
  }
}

@media screen and (min-width: 750px) {
  .footer__content-top .grid {
    row-gap: 6rem;
    margin-bottom: 0;
  }
}

.footer__content-bottom {
  /*   border-top: solid 0.1rem rgba(var(--color-foreground), 0.08); */
  padding-top: 3rem;
}

.footer__content-bottom:only-child {
  border-top: 0;
}

.footer__content-bottom-wrapper {
  display: flex;
  width: 100%;
}
.footer-content-text > * {
  font-size: 12px;
  font-family: 'Heebo-Regular';
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.15px;
  margin: 0;
}
.footer-content-text a {
  font-weight: 500;
  font-family: 'Heebo-Medium';
  color: #ffffff;
  opacity: 100%;
}
@media screen and (max-width: 749px) {
  .footer__content-bottom {
    flex-wrap: wrap;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    row-gap: 1.5rem;
  }

  .footer__content-bottom-wrapper {
    flex-wrap: wrap;
    row-gap: 1.5rem;
  }
}

.footer__localization:empty + .footer__column--info {
  align-items: center;
}

@media screen and (max-width: 749px) {
  .footer__localization:empty + .footer__column {
    padding-top: 1.5rem;
  }
}
.footer__column {
  width: 100%;
  align-items: flex-end;
}

.footer__column--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (min-width: 750px) {
  .footer__column--info {
    padding-left: 0;
    padding-right: 0;
    align-items: flex-end;
  }
}

.footer-block:only-child:last-child {
  text-align: center;
  max-width: 76rem;
  margin: 0 auto;
}

@media screen and (min-width: 750px) {
  .footer-block {
    display: block;
    margin-top: 0;
  }
}

.footer-block:empty {
  display: none;
}

.footer-block--newsletter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  margin-top: 3rem;
}

.footer-block--newsletter:only-child {
  margin-top: 0;
}

.footer-block--newsletter > * {
  flex: 1 1 100%;
}
.footer-block__details-content.rte .list-menu__item--link {
  padding: 0;
  height: 21px;
  gap: 12px;
}
.footer-block__details-content.rte a:last-child .list-menu__item--link {
  padding-top: 8px;
  height: 25px;
}
@media screen and (max-width: 749px) {
  .footer-block.footer-block--menu:only-child {
    text-align: left;
  }
}

@media screen and (min-width: 750px) {
  .footer-block--newsletter {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.footer-block__heading {
  margin-bottom: 2rem;
  margin-top: 0;
  font-size: calc(var(--font-heading-scale) * 1.6rem);
}

@media screen and (min-width: 990px) {
  .footer-block__heading {
    font-size: calc(var(--font-heading-scale) * 1.8rem);
  }
}

.footer__list-social:empty,
.footer-block--newsletter:empty {
  display: none;
}

.footer__list-social.list-social:only-child {
  justify-content: start;
  height: 38px;
  align-items: center;
  flex-wrap: nowrap;
}

.footer-block__newsletter {
  text-align: center;
}

/* .newsletter-form__field-wrapper {
  max-width: 36rem;
} */

@media screen and (min-width: 750px) {
  .footer-block__newsletter:not(:only-child) {
    text-align: left;
  }

  .footer-block__newsletter:not(:only-child) .footer__newsletter {
    justify-content: flex-start;
    margin: 0;
  }

  .footer-block__newsletter:not(:only-child)
    .newsletter-form__message--success {
    left: auto;
  }
}

.footer-block__newsletter + .footer__list-social {
  margin-top: 3rem;
}

@media screen and (max-width: 749px) {
  .footer__list-social.list-social {
    justify-content: center;
  }
  .footer-social.mobile .footer__list-social.list-social{
    justify-content: start;
    height: 46px;
    align-items: center;
  }
  .footer-content-text>*{
    font-size: 11px;
    line-height: 16.16px;
  }
  .footer-block.grid__item.footer-4th .list-menu__item--link {
    padding: 0;
  }
  .social-media-copyright{
    display: none;
  }
}

@media screen and (min-width: 750px) {
  .footer-block__newsletter + .footer__list-social {
    margin-top: 0;
  }
}
@media screen and (min-width: 767px) and (max-width: 820px){
  .footer__list-social.list-social:only-child{
    gap: 1rem;
    flex-wrap: wrap;
    height: unset;
  }
}
.footer__localization {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 1rem 1rem 0;
}

.footer__localization:empty {
  display: none;
}

.localization-form {
  display: flex;
  flex-direction: column;
  flex: auto 1 0;
  padding: 1rem;
  margin: 0 auto;
}

.localization-form:only-child {
  display: inline-flex;
  flex-wrap: wrap;
  flex: initial;
  padding: 1rem 0;
}

.localization-form:only-child .button,
.localization-form:only-child .localization-form__select {
  margin: 1rem 1rem 0.5rem;
  flex-grow: 1;
}

.footer__localization h2 {
  margin: 1rem 1rem 0.5rem;
  color: rgba(var(--color-foreground), 0.75);
}

@media screen and (min-width: 750px) {
  .footer__localization {
    padding: 0.4rem 0;
    justify-content: flex-start;
  }

  .localization-form {
    padding: 1rem 2rem 1rem 0;
  }

  .localization-form:first-of-type {
    padding-left: 0;
  }

  .localization-form:only-child {
    justify-content: start;
    width: auto;
    margin: 0 1rem 0 0;
  }

  .localization-form:only-child .button,
  .localization-form:only-child .localization-form__select {
    margin: 1rem 0;
  }

  .footer__localization h2 {
    margin: 1rem 0 0;
  }
}

@media screen and (max-width: 989px) {
  noscript .localization-form:only-child,
  .footer__localization noscript {
    width: 100%;
  }
}

.localization-form .button {
  padding: 1rem;
}

.localization-form__currency {
  display: inline-block;
}

@media screen and (max-width: 749px) {
  .localization-form .button {
    word-break: break-all;
  }
}

.localization-form__select {
  border-radius: var(--inputs-radius-outset);
  position: relative;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  text-align: left;
  min-height: calc(4rem + var(--inputs-border-width) * 2);
  min-width: calc(7rem + var(--inputs-border-width) * 2);
}

.disclosure__button.localization-form__select {
  padding: calc(2rem + var(--inputs-border-width));
  background: rgb(var(--color-background));
}

noscript .localization-form__select {
  padding-left: 0rem;
}

@media screen and (min-width: 750px) {
  noscript .localization-form__select {
    min-width: 20rem;
  }
}

.localization-form__select .icon-caret {
  position: absolute;
  content: "";
  height: 0.6rem;
  right: calc(var(--inputs-border-width) + 1.5rem);
  top: calc(50% - 0.2rem);
}

.localization-selector.link {
  text-decoration: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: rgb(var(--color-foreground));
  width: 100%;
  padding-right: 4rem;
  padding-bottom: 1.5rem;
}

noscript .localization-selector.link {
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

.disclosure .localization-form__select {
  padding-top: 1.5rem;
}

.localization-selector option {
  color: #000000;
}

.localization-selector + .disclosure__list-wrapper {
  margin-left: 1rem;
  opacity: 1;
  animation: animateLocalization var(--duration-default) ease;
}

@media screen and (min-width: 750px) {
  .footer__payment {
    margin-top: 1.5rem;
  }
}

.footer__copyright {
  text-align: center;
  margin-top: 1.5rem;
}

@media screen and (min-width: 750px) {
  .footer__copyright {
    text-align: right;
  }
}

@keyframes appear-down {
  0% {
    opacity: 0;
    margin-top: -1rem;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

/* .footer-block__details-content {
  margin-bottom: 4rem;
} */

@media screen and (min-width: 750px) {
  /*   .footer-block__details-content {
    margin-bottom: 0;
  } */

  .footer-block__details-content > p,
  .footer-block__details-content > li {
    padding: 0;
  }

  .footer-block:only-child li {
    display: inline;
  }

  .footer-block__details-content > li:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.footer-block__details-content .list-menu__item--link,
.copyright__content a {
  color: rgba(var(--color-foreground), 0.75);
}

.footer-block__details-content .list-menu__item--active {
  transition: text-decoration-thickness var(--duration-short) ease;
  color: rgb(var(--color-foreground));
}

@media screen and (min-width: 750px) {
  .footer-block__details-content .list-menu__item--link:hover,
  .copyright__content a:hover {
    color: rgb(var(--color-foreground));
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }

  .footer-block__details-content .list-menu__item--active:hover {
    text-decoration-thickness: 0.2rem;
  }
}

.footer-block__details-content .list-menu__item--link {
  padding-top: 0;
  padding-bottom: 8px;
}

@media screen and (min-width: 750px) {
  .footer-block__details-content .list-menu__item--link {
    display: inline-block;
    font-size: 1.4rem;
  }

  .footer-block__details-content > :first-child .list-menu__item--link {
    padding-top: 0;
  }
}

@media screen and (max-width: 749px) {
  .footer-block-image {
    text-align: center;
  }
}

.footer-block-image > img {
  height: auto;
}

.footer-block__details-content .placeholder-svg {
  max-width: 20rem;
}

.copyright__content a {
  color: currentColor;
  text-decoration: none;
}

@keyframes animateLocalization {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(-1rem);
  }
}

.footer .disclosure__link {
  padding: 0.95rem 3.5rem 0.95rem 2rem;
  color: rgba(var(--color-foreground), 0.75);
}

.footer .disclosure__link:hover {
  color: rgb(var(--color-foreground));
}

.footer .disclosure__link--active {
  text-decoration: underline;
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  @media screen and (max-width: 749px) {
    .footer .grid {
      margin-left: 0;
    }
  }

  @media screen and (min-width: 750px) {
    .footer__content-top .grid {
      margin-left: -3rem;
    }

    .footer__content-top .grid__item {
      padding-left: 3rem;
    }
  }
}
/* .menu-drawer__utility-links .list-social__link svg path{fill: #482F8F;} */
.line1 {
  display: flex !important;
  gap: 20px;
}
.foot-icon {
  width: 1.563vw;
  display: flex;
  align-items: center;
}
.footer-block__details-content.rte .foot-icon {
  min-width: 14px;
  width: 0.972vw;
}
.foot-icon img {
  margin-bottom: 0 !important;
  width:100%;height:auto;
}
.footer .footer__content-top .footer-block__heading {
  font-size: 1.719vw !important;
  margin: 0 !important;
  font-weight: 500;
  font-family: Heebo-SemiBold;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .foot-icon {
    width: 1.953vw;
  }
  .footer .footer__content-top .footer-block__heading {
    font-size: 2.148vw !important;
  }
}
@media screen and (max-width: 767px) {
  .footer .footer__content-top .footer-block__heading {
    font-size: 14px !important;
  }
}

a.link.link--text.list-menu__item.list-menu__item--link,
.last-block span {
  font-size: 16px;
  font-family: 'Heebo-Regular';
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
}
.copyright-container > * {
  font-size: 10px;
  font-family: 'Heebo-Regular';
  line-height: 20px;
  margin: 0;
  font-weight: 400;
}
.copyright-container a {
  font-weight: 500;
  font-family: 'Heebo-Medium';
  color: #329DFF;
}
.footer-content-text.mobile{
  display: none;
}
.social-media-copyright li.list-social__item {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-media-copyright .list-social__link{
  padding: 0;
}
.social-media-copyright .list-social__item .icon {
  height: 2.4rem;
  width: 2.4rem;
  padding: 5.05px;
}
.first-flex-div .brand-logo img{
  height: 100%;
  object-fit: cover;
}
.footer-content-text.desktop {
   margin-top: 12px; 
  /* position: absolute; */
  padding-left: 0;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  a.link.link--text.list-menu__item.list-menu__item--link,
  .last-block span {
    font-size: 1.758vw;
  }
}
a.link.link--text.list-menu__item.list-menu__item--link,
.last-block span {
  line-height: 120%;
}
@media screen and (min-width: 1440px) {
  .first-flex-div .brand-logo {
    width: 8.681vw;
    height: 2.7085vw;
  }
}
@media screen and (max-width: 767px) {
  a.link.link--text.list-menu__item.list-menu__item--link,
  .last-block span {
    /* font-size: 18px !important; */
    line-height: 120%;
  }
  .footer-content-text.desktop{
    display: none;
  }
  .footer-content-text.mobile{
    display: block;
    padding-top: 1rem;
  }
  .footer-block__details-content.rte a:last-child .list-menu__item--link{
    padding-top: 5px;
    height: 20px;
  }
  .footer-block__details-content.rte .list-menu__item--link{
    height: 16px;
    gap: 8px;
  }
  .footer-social.mobile li.list-social__item {
    height: 32.7px;
    width: 32.7px;
  }
  .footer-social.mobile .list-social__link{
    padding: 0;
  }
  .footer-social.mobile .list-social__item .icon {
    height: 32.7px;
    width: 32.7px;
    padding: 8.35px;
  }
  .first-flex-div .brand-logo {
    width: 134px;
    height: 41.61px;
  }
}
.footerInitial {
  border-radius: 0 100px 0 0;
}
.footer__blocks-wrapper.grid.grid--1-col.grid--2-col.grid--4-col-tablet {
  padding-top: 50px;
}
.first-flex-div {
  width: 22%;
}
/*   .footer{margin-top:{};}.cust-foot{padding:0 3rem!important} */
.foot-cust {
  justify-content: space-between;
}
@media screen and (min-width: 750px) {
  .footerContainerCustom {
    
    width: 70%;
  }
}
@media screen and (max-width: 750px) {
  .first-flex-div {
    width: 80%;
  }
  .foot-icon {
    width: 8%;
  }
  .footerContainerCustom {
   
    flex-wrap: wrap;
    width: 100%;
    grid-template-columns: auto auto;
  }
.footer-block-grid-main{
    display:flex;
     flex-wrap: wrap;
    width: 100%;
    grid-template-columns: auto auto;
  }
  .footer-block__details-content.rte .foot-icon {
    min-width: 12px;
  }
}
.first-flex-div .brand-logo {
  line-height: 0;
}
.address-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  margin: 0;
}
p.corporate-office {
  font-size: 16px;
  line-height: 18.9px;
  letter-spacing: 0.6px;
  font-family: 'Heebo-Regular';
  font-weight: 500;
  margin: 0;
  color: #FFFFFF;
  opacity: 1;
}
.address-footer.font-heebo-regular {
  margin-top: 12px;
}
.findastore-container {
  max-width: 286px;
  width: 100%;
  height: 40px;
  display: flex;
  background: #f7f7f742;
  border: 1px solid #F7F7F740;
  line-height: 1;
  margin: 12px 0;
}
.findastore-container a {
  display: flex;
  color: #fff;
  opacity: 75%;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 8px 10px 19px;
  font-family: 'Heebo-Regular';
  font-weight: 400;
}
p.findastore-btn {
  margin: 0;
  text-decoration: underline;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.25px;
}
.footer .footer__content-top .footer-block__heading {
  line-height: 30px !important;
}
.footer-block__details-content.rte a span {
  font-size: 14px;
  line-height: 20.56px;
  font-family: 'Heebo-Regular';
  font-weight: 400;
  margin-bottom: 4px;
}
.address-footer p.address-text {
  line-height: 18px;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .address-text {
    font-size: 1.367vw;
  }
}
@media screen and (max-width: 820px) and (min-width: 767px) {
  .first-flex-div .brand-logo{
    width: 25vw;
  }
  footer.footer{
    padding-bottom: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .address-text {
    font-size: 11px;
  }
  p.corporate-office{
    margin-bottom: 4px;
    font-size: 14px;
  }
  p.findastore-btn{
    font-size: 14px;
  }
  .findastore-container{
    width: 81.5385vw;
    max-width: 318px;
    margin-bottom: 24px;
  }
  a.link.link--text.list-menu__item.list-menu__item--link, .last-block span{
    font-size: 14px;
  }
  .footer-block__details-content.rte a span{
    font-size: 12px;
  }
}

ul.footer-block__details-content.list-unstyled {
  padding-top: 14px;
}
@media only screen and (max-width: 959px) and (min-width: 750px) {
  .footerContainerCustom {
    width: 68% !important;
  }
  .first-flex-div {
    width: 30% !important;
  }
}
@media only screen and (max-width: 950px) and (min-width: 750px) {
  .first-flex-div {
    width: 78% !important;
  }
  .footerContainerCustom {
    width: 100% !important;
  }
}

.footer .footer__content-top .footer-block__heading {
  color: #ffffff;
}
.whatsapp-mainn-div {
  position: fixed;
  z-index: 19;
  bottom: 0;
  left: auto;
  right: 10px;
}

@media only screen and (min-width: 640px) {
  .whatsapp-mainn-div {
    display: none;
  }
}
.footer-block__details-content.rte {
  padding-top: 14px;
}
.footer-3rd {
  /* width: 26% !important; */
}
.foot-icon img {
  width: 100%;
  height: auto;
}
