.breakpoint-how-it-works-section {
  width: 100%;
  padding: 3.89vw 5.56vw 0 5.56vw;
}

.breakpoint-how-it-works-section .breakpoint-how-it-works-heading {
  font-family: Poppins-Regular;
  font-weight: 400;
  font-size: 2.50vw;
  line-height: 4.44vw;
  letter-spacing: 0px;
  color: #000000;
}

.breakpoint-how-it-works-section {
  position: relative;
}

/* Background Image */
.breakpoint-how-it-works-section .breakpoint-how-it-works-background {
  position: absolute;
  top: 0.35vw;
  left: 0px;
  height: 100%;
  width: 100%;
  height: auto;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

.breakpoint-how-it-works-section .breakpoint-how-it-works-parent {
  position: relative;
  width: 100%;
}

.breakpoint-how-it-works-section .breakpoint-how-it-works-steps {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2.5vw;
  position: relative;
  padding: 36px 0 0 0;
}

/* .breakpoint-how-it-works-section .breakpoint-how-it-works-step {
  flex: 1 0 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  position: relative;
} */

/* Step 1 */
.breakpoint-how-it-works-section .breakpoint-how-it-works-step:nth-child(1) {
  flex: 1 0 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  position: relative;
  /* Add specific positioning for Step 1 here */
}

.breakpoint-how-it-works-section .breakpoint-how-it-works-step:nth-child(1) .breakpoint-how-it-works-number-circle {
  position: relative;
  /* top: 0px; */
  /* left: 0px; */
}

.breakpoint-how-it-works-section .breakpoint-how-it-works-step:nth-child(1) .breakpoint-how-it-works-step-content {
  position: relative;
  width: 12.29vw;
  top: -3.33vw;
  left: 6.81vw;
}

/* Step 2 */
.breakpoint-how-it-works-section .breakpoint-how-it-works-step:nth-child(2) {
  flex: 1 0 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  position: relative;
  top: -4.31vw;
  /* Add specific positioning for Step 2 here */
}

.breakpoint-how-it-works-section .breakpoint-how-it-works-step:nth-child(2) .breakpoint-how-it-works-number-circle {
  position: relative;
  /* top: 0px; */
  /* left: 0px; */
}

.breakpoint-how-it-works-section .breakpoint-how-it-works-step:nth-child(2) .breakpoint-how-it-works-step-content {
  position: relative;
  top: -3.82vw;
  left: 6.8vw;
  width: 17.57vw;
}

/* Step 3 */
.breakpoint-how-it-works-section .breakpoint-how-it-works-step:nth-child(3) {
  flex: 1 0 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  position: relative;
  top: -6.60vw;
  /* Add specific positioning for Step 3 here */
}

.breakpoint-how-it-works-section .breakpoint-how-it-works-step:nth-child(3) .breakpoint-how-it-works-number-circle {
  position: relative;
  /* top: 0px; */
  /* left: 0px; */
}

.breakpoint-how-it-works-section .breakpoint-how-it-works-step:nth-child(3) .breakpoint-how-it-works-step-content {
  position: relative;
  top: -3.68vw;
  left: 6.81vw;
  width: 20.97vw;
}

.breakpoint-how-it-works-section .breakpoint-how-it-works-number-circle {
  width: 5.69vw;
  height: 5.69vw;
  border-radius: 50%;
  background-color: var(--step-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.11vw;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}

.breakpoint-how-it-works-section .breakpoint-how-it-works-number {
  font-family: Poppins-Regular;
  font-weight: 300;
  font-size: 3.75vw;
  line-height: 1;
  color: var(--number-color);
}

.breakpoint-how-it-works-section .breakpoint-how-it-works-step-heading {
  font-family: Poppins-SemiBold;
  font-weight: 600;
  font-size: 1.53vw;
  line-height: 2.08vw;
  letter-spacing: 0px;
  color: var(--heading-color);
  margin: 0 0 0.97vw 0;
  text-align: left;
}

.breakpoint-how-it-works-section .breakpoint-how-it-works-step-subheading {
  font-family: Poppins-Regular;
  font-weight: 400;
  font-size: 1.11vw;
  line-height: 1.67vw;
  letter-spacing: 0px;
  color: #616161;
  margin: 0;
  text-align: left;
}


@media screen and (min-width: 769px) and (max-width: 1220px) {
  .breakpoint-how-it-works-section {
    padding: 4.59vw 6.56vw 0 6.56vw;
  }

  .breakpoint-how-it-works-section .breakpoint-how-it-works-heading {
    font-size: 2.95vw;
    line-height: 5.25vw;
  }

  .breakpoint-how-it-works-section .breakpoint-how-it-works-background {
    top: 0.41vw;
  }

  .breakpoint-how-it-works-section .breakpoint-how-it-works-steps {
    gap: 2.95vw;
  }

  .breakpoint-how-it-works-section .breakpoint-how-it-works-step:nth-child(1) {
    top: -3.02vw;
  }

  /* Step 1 */
  .breakpoint-how-it-works-section .breakpoint-how-it-works-step:nth-child(1) .breakpoint-how-it-works-step-content {
    width: 14.51vw;
    top: -3.93vw;
    left: 8.03vw;
  }

  /* Step 2 */
  .breakpoint-how-it-works-section .breakpoint-how-it-works-step:nth-child(2) {
    top: -7.08vw;
  }

  .breakpoint-how-it-works-section .breakpoint-how-it-works-step:nth-child(2) .breakpoint-how-it-works-step-content {
    top: -4.51vw;
    left: 8.61vw;
    width: 20.74vw;
  }

  /* Step 3 */
  .breakpoint-how-it-works-section .breakpoint-how-it-works-step:nth-child(3) {
    top: -9.79vw;
  }

  .breakpoint-how-it-works-section .breakpoint-how-it-works-step:nth-child(3) .breakpoint-how-it-works-step-content {
    top: -4.34vw;
    left: 8.03vw;
    width: 24.75vw;
  }

  .breakpoint-how-it-works-section .breakpoint-how-it-works-number-circle {
    width: 6.72vw;
    height: 6.72vw;
    margin-bottom: 1.31vw;
  }

  .breakpoint-how-it-works-section .breakpoint-how-it-works-number {
    font-size: 4.43vw;
  }

  .breakpoint-how-it-works-section .breakpoint-how-it-works-step-heading {
    font-size: 1.80vw;
    line-height: 2.46vw;
    margin-bottom: 1.15vw;
  }

  .breakpoint-how-it-works-section .breakpoint-how-it-works-step-subheading {
    font-size: 1.31vw;
    line-height: 1.97vw;
  }
}

@media screen and (max-width: 768px) {
  .breakpoint-how-it-works-section {
    padding: 0 4.62vw;
  }

  /* Background Image */
  .breakpoint-how-it-works-section .breakpoint-how-it-works-background {
    position: absolute;
    top: -6.41vw;
    left: 0px;
    height: 100%;
    width: 100%;
    height: auto;
    z-index: 0;
    pointer-events: none;
    overflow: hidden;
  }

  .breakpoint-how-it-works-section .breakpoint-how-it-works-heading {
    font-size: 6.15vw;
    line-height: 8.21vw;
  }

  .breakpoint-how-it-works-section .breakpoint-how-it-works-steps {
    flex-direction: column;
    position: relative;
    gap: 0px;
  }

  .breakpoint-how-it-works-section .breakpoint-how-it-works-parent::before {
    display: none;
  }

  .breakpoint-how-it-works-section .breakpoint-how-it-works-step {
    max-width: 100%;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    /* gap: 14px; */
    position: relative;
  }

  .breakpoint-how-it-works-section .breakpoint-how-it-works-step:not(:last-child)::after {
    display: none;
  }

  .breakpoint-how-it-works-section .breakpoint-how-it-works-number-circle {
    width: 14.36vw;
    height: 14.36vw;
    margin-bottom: 0;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
  }

  .breakpoint-how-it-works-section .breakpoint-how-it-works-number {
    font-size: 8.21vw;
  }

  .breakpoint-how-it-works-section .breakpoint-how-it-works-step-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .breakpoint-how-it-works-section .breakpoint-how-it-works-step-heading {
    font-size: 4.62vw;
    line-height: 7.18vw;
    margin-bottom: 2.05vw;
    text-align: left;
  }

  .breakpoint-how-it-works-section .breakpoint-how-it-works-step-subheading {
    font-size: 3.59vw;
    line-height: 5.13vw;
    text-align: left;
  }

  /* Step 1 Mobile Positioning */
  .breakpoint-how-it-works-section .breakpoint-how-it-works-step:nth-child(1) {
    position: relative;
    width: 90.77vw;
    top: 0px;
    left: 0px;
  }

  .breakpoint-how-it-works-section .breakpoint-how-it-works-step:nth-child(1) .breakpoint-how-it-works-number-circle {
    position: relative;
    top: 7.69vw;
    /* left: 0px; */
  }

  .breakpoint-how-it-works-section .breakpoint-how-it-works-step:nth-child(1) .breakpoint-how-it-works-step-content {
    position: relative;
    width: 72.82vw;
    top: -7.69vw;
    left: 19.23vw;
  }

  /* Step 2 Mobile Positioning */
  .breakpoint-how-it-works-section .breakpoint-how-it-works-step:nth-child(2) {
    position: relative;
    width: 90.77vw;
    top: 0px;
    left: 0px;
  }

  .breakpoint-how-it-works-section .breakpoint-how-it-works-step:nth-child(2) .breakpoint-how-it-works-number-circle {
    position: relative;
    /* top: 0px; */
    left: 6.41vw;
  }

  .breakpoint-how-it-works-section .breakpoint-how-it-works-step:nth-child(2) .breakpoint-how-it-works-step-content {
    position: relative;
    width: 60.00vw;
    left: 23.85vw;
    top: -15vw;
  }

  /* Step 3 Mobile Positioning */
  .breakpoint-how-it-works-section .breakpoint-how-it-works-step:nth-child(3) {
    position: relative;
    width: 90.77vw;
    top: 0px;
    left: 0px;
  }

  .breakpoint-how-it-works-section .breakpoint-how-it-works-step:nth-child(3) .breakpoint-how-it-works-number-circle {
    position: relative;
    /* top: 0px; */
    /* left: 0px; */
  }

  .breakpoint-how-it-works-section .breakpoint-how-it-works-step:nth-child(3) .breakpoint-how-it-works-step-content {
    position: relative;
    width: 63.4vw;
    top: -14.36vw;
    left: 17.95vw;
  }
}