/* || Custom styling */
.shop-our-bestsellers .home-slider .swiper-wrapper {
  /* transform: translate3d(-1500px, 0px, 0px); */
  /* transform: translate3d(calc(-1500 * (100vw / 1440)), 0px, 0px); */
}

.shop-our-bestsellers .home-slider .swiper-wrapper .swiper-slide {
  width: calc(280 * (100vw / 1440));
  margin-right: 20px;
}

/* Swiper widths defined - For first onload rendering. 
Media queries defined as per swiper breakpoints.*/

@media (max-width: 1100px) {
  .shop-our-bestsellers .home-slider .swiper-wrapper .swiper-slide {
    width: calc(344 * (100vw / 1000));
  }
}

@media (max-width: 900px) {
  .shop-our-bestsellers .home-slider .swiper-wrapper .swiper-slide {
    width: calc(301 * (100vw / 700));
  }
}

@media (max-width: 660px) {
  .shop-our-bestsellers .home-slider .swiper-wrapper .swiper-slide {
    width: calc(342 * (100vw / 550));
  }
}

@media (max-width: 500px) {
  .shop-our-bestsellers .home-slider .swiper-wrapper .swiper-slide {
    width: calc(242 * (100vw / 400));
    margin-right: 5px;
  }
}
