.grid-for-mob {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

@media only screen and (min-width: 641px) {
  .main-grid-div {
    display: none;
  }
}

.second-line-shop {
  display: flex;
  justify-content: space-between;
}

.coll-home .home-slider .swiper-wrapper .swiper-slide {
  width: calc(280 * (100vw / 1440));
  margin-right: 20px;
}

/* Swiper widths defined - For first onload rendering. 
Media queries defined as per swiper breakpoints.*/

@media (max-width: 1100px) {
  .coll-home .home-slider .swiper-wrapper .swiper-slide {
    width: calc(344 * (100vw / 1000));
  }
}

@media (max-width: 900px) {
  .coll-home .home-slider .swiper-wrapper .swiper-slide {
    width: calc(301 * (100vw / 700));
  }
}

@media (max-width: 660px) {
  .coll-home .home-slider .swiper-wrapper .swiper-slide {
    width: calc(342 * (100vw / 550));
  }
}

@media only screen and (max-width: 640px) {
  .main-grid-div .content-home {
    width: 100% !important;
  }
  .main-grid-div .mobile-grid {
    padding: 0 !important;
  }
  .main-grid-div .mobile-grid {
    gap: 8px !important;
  }
  .main-grid-div ul.colorSwatchMarginStyle {
    gap: 0px 6px !important;
  }
  .price-page {
    color: #000303 !important;
  }
  .color-page {
    font-size: 14px !important;
  }
  .name-page {
    font-family: 'Heebo-Light' !important;
  }
  .double-varient .color-page {
    color: #482f8f;
    font-family: 'Heebo-Regular';
    font-size: 12px !important;
  }
  .double-varient .name-page {
    font-family: 'Heebo-Regular';
    font-size: 14px !important;
    height: 32px;
    overflow: hidden;
  }
  .double-varient .price-page {
    font-family: 'Heebo-medium';
    font-size: 12px !important;
    color: #000000;
  }
  .double-varient .rating-page {
    font-family: 'Heebo-Regular' !important;
    font-size: 12px !important;
    color: #0f0f0f;
  }
  .rating-page {
    font-size: 14px !important;
  }
}

/* .double-varient  */

@media (max-width: 500px) {
  .coll-home .home-slider .swiper-wrapper .swiper-slide {
    width: calc(242 * (100vw / 400));
    margin-right: 5px;
  }
}
