@media screen and (max-width:1700px){
  .sizeGuide{max-width: 773px !important;max-height: 545px !important;}
}
.sizeGuide {display: none;background: #F4ECD0;top: 15%;position: fixed;left: 50%;transform: translate(-50%, 0);z-index: 9;max-width: 604px;height: 100%;max-height: 424px;width: 100%;border-radius: 0px 0px 0px 50px;}
.imageSec img {width: 100%;height: auto;}
.tableContet {width: 130%;}
.imageSec {width: 49%;}
.sizeGuide_inner{position:relative;display: flex;width: 100%;padding: 2rem;gap:1rem}
.size_close{position:absolute;top: 1rem;right: 1rem;    cursor: pointer;}
.tableContet h2 {font-weight: 600;font-size: 1.719vw;line-height: 120%;letter-spacing: 0.05em;color: #482F8F;}
.tableContet h5 {font-weight: 400;font-size: 0.938vw;line-height: 120%;letter-spacing: 0.05em;color: #482F8F;margin: 0;font-family: Heebo-Regular;}
.tableContet table tr td{font-weight: 400;font-size: 0.938vw;line-height: 120%;text-align: center;letter-spacing: 0.05em;color: #000000;padding: 0.5rem;border: none;border-right: 0.461137px solid #000000;font-family: Heebo-Regular;}
.tableContet table {width: 100%;border: 0.461137px solid #000000;margin:2rem 0;}
.tableContet table tr:nth-child(1){border-bottom: 0.461137px solid #000000;}
.pointers{display:flex;gap: 2rem;}
.pointers span.number {    display: flex;
    align-items: center;
    justify-content: center;background: #F6917E;height: 16px;width: 16px;border-radius: 11px;font-weight: 500;font-size: 8.85383px;line-height: 120%;color: #F4ECD0;text-align: center;}
.pointers p {gap:7px;display: flex;justify-content: center;align-items: center;margin: 0;}
span.points {font-weight: 400;font-size: 12px;line-height: 120%;letter-spacing: 0.05em;color: #482F8F;font-family: Heebo-Regular;}
 @media screen and (max-width: 1024px) and (min-width:641px){
   .tableContet h2{font-size:2.148vw !important}
   .tableContet h5{1.172vw !important}
   .tableContet table tr td{font-size:1.367vw !important;}
 }
 @media screen and (max-width:640px){
   .sizeGuide{max-height: 349px!important;}
   .tableContet h2{font-size:16.6px !important}
   .tableContet h5{font-size:11.07px !important}
   .tableContet table tr td{font-size:9.22px !important;}
   .tableContet h2{font-family: 'Heebo-medium ' !important;}
/*    .tableContet h5{font-family: 'Heebo-medium ' !important;} */
 }
 @media screen and (min-width:1700px){
   .sizeGuide{
     max-width: 844px;max-height: 609px;
   }
 }