.stethoscope-features-parent{
   background-color: #E9E9E9; 
}

.stethoscope-features{
  display: flex;
  max-width: 1120px;
  margin: 0 auto;
  padding: 160px 0px 52px 0px;
  flex-direction: column;
  gap: 108px;
}

.stethoscope-features-wrapper{
   position: relative; 
}

.feature-content{
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.feature-content.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.feature-content-wrapper h3{
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
  color: #A0A0A0;
  margin: 0;
  font-weight: 400;
}

.feature-content span{
  font-size: 58px;
  line-height: 64px;
  letter-spacing: -0.58px;
  text-align: center;
  color: #A0A0A0;
  margin: 0;
  font-weight: 400 !important;
}

.feature-content span>strong{
  color: #482F8F;
  font-weight: 400 !important;
}

.feature-content b{
  font-weight: 400 !important;
}

.feature-tabs{
  background: #fff;
  padding: 10px 32px;
  border-radius: 8px;
  border: 1px solid #FFFFFFAD;
  backdrop-filter: blur(80px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.feature-tab{
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #4C4C4C;
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.feature-tab.active{
  color: #482F8F;
  font-weight: 500;
}
.feature-tab.active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -12px;
  transform: translateX(-50%);
  width: 40px;
  height: 10px;
  background: url('bubble.svg') no-repeat center;
  background-size: contain;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.feature-tab:not(.active):hover {
  color: #6A4BB3;
}

.feature-tab:not(.active):hover::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -12px;
  transform: translateX(-50%);
  width: 40px;
  height: 10px;
  background: url('bubble.svg') no-repeat center;
  background-size: contain;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.stethoscope-features .stetho-feature-navigation {
  display: none;
}

 .stethoscope-features .dots-container {
   display: none;
 }

@media(max-width: 768px){
  .feature-tabs{
     display: none; 
  }
  .stethoscope-features{
    padding: 170px 24px 34px; 
    gap: 98px;
  }

  .feature-content{
    min-height: 100px;
  }

  .stetho-feature-icon{
     display: flex; 
  }

  .feature-content-wrapper h3{
    font-size: 16px;
    line-height: 24px;
  }
  .feature-content span{
    font-size: 24px;
    line-height: 32px;
  }
  .stethoscope-features .stetho-feature-navigation {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
  }

  .stethoscope-features .dots-container {
    display: flex;
    justify-content: center;
    padding: 10px 32px;
    background: #FFFFFFCC;
    border: 1px solid #FFFFFFAD;
    backdrop-filter: blur(80px);
    border-radius: 8px;
  }
  
  .stethoscope-features .dot {
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background: #B3B3B3;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .stethoscope-features .dot.active {
    background: #000000;
  }
}