.survey-strip{
    width: 100%;
    background: #7DAAD7;
    padding: 16px 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.survey-strip-heading p{
    font-family: 'Heebo-Medium';
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    color: #ffffff;
    margin: 0;
}

.survey-strip-button{
    border: 1px solid #FFFFFF;
    padding: 10px 30px;
    font-family: 'Heebo-Medium';
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 8px;
    width: max-content;
}
.survey-strip-button a{
    color: #ffffff;
}

@media(min-width: 768px){
    .survey-strip{
        flex-direction: row;
        padding: 32px 80px;
    }
    .survey-strip-heading p{
        font-size: 32px;
        line-height: 40px;
    }
    .survey-strip-button{
        padding: 14px 70px;
        font-size: 18px;
        line-height: 22px;
    }
}
