@media screen and (max-width: 749px) {
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    margin-bottom: 1.5rem;
  }
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0.7;
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  /*   li.grid__item.coll-gridd {
    padding: 44px 22px 0px 22px;
} */
}

.collection.loading .loading-overlay {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

@media screen and (max-width: 989px) {
  .collection .slider--tablet.product-grid {
    scroll-padding-left: 1.5rem;
  }
}
/* .inner-color-container img{display:none} */
.collection__description > * {
  margin: 0;
}

.collection__title.title-wrapper {
  margin-bottom: 2.5rem;
}

.collection__title .title:not(:only-child) {
  margin-bottom: 1rem;
}
.third-card-div {
  display: flex;
  align-items: center;margin-top: 6px;
}
@media screen and (min-width: 990px) {
  /*   .card__heading{width:61%;} */
  .collection__title--desktop-slider .title {
    margin-bottom: 2.5rem;
  }
  .collection .HorizontalList .desktopcolorhide {
    display: none;
  }
  li.plus-swatch.desktopcolorplushow {
    display: block;
  }
  .collection__title.title-wrapper--self-padded-tablet-down {
    padding: 0 5rem;
  }

  .collection slider-component:not(.page-width-desktop) {
    padding: 0;
  }

  .collection--full-width slider-component:not(.slider-component-desktop) {
    padding: 0 1.5rem;
    max-width: none;
  }
}

.collection__view-all a:not(.link) {
  margin-top: 1rem;
}
span.new-color {
  position: absolute;
  z-index: 1;
  color: #f4ecd0;
  font-weight: 400;
  font-size: 9px;
  line-height: 120%;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0px;
}
.mobile-grid {
  display: none;
}
.grid-banner img {
  width: 100%;
  height: auto;
}
.desk-lit-url {
  display: block;
}
@media screen and (max-width: 990px) {
  .mobile-grid {
    display: flex;
    justify-content: right;
    padding-right: 110px;
    align-items: center;
  }
  .grid-banner {
    width: 100% !important;
    max-width: 100% !important;
  }
  .single-liner {
    -webkit-line-clamp: 2 !important;
  }
}
.sorting_list {
  font-weight: 500;
  font-size: 1.25vw;
  color: #482f8f;
  padding: 0 16px;
}
.optionValue,
.sorting_list marker {
  display: none;
}
.sort-right {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: relative;
}
/*     label#sorting_label{display:flex;gap:1rem;} */
.sorting_divs {
  display: none;
  list-style: none;
  position: absolute;
  top: 13px;
  right: 110px;
  z-index: 1;
  cursor: pointer;
  background: #fffcf4;
  flex-direction: column;
  align-items: start;
  padding: 0px;
  width: auto;
  height: auto;
}
/*         span.sorted-item{padding-right:83px} */
/*         @media screen and (max-width:1181px){label#sorting_label{width:18%}}
        @media screen and (max-width:821px){label#sorting_label{width:23%}} */
.for-custom {
  display: none !important;
}
.sort-lable {
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
}
.sortingg,
sorting_divs {
  cursor: pointer;
}
/* .card__heading{display: -webkit-box;-webkit-line-clamp: 1; -webkit-box-orient: vertical;overflow: hidden;} */
.second-line-home {
  color: #000303;
  margin-top: 8px;
  opacity: 0.7;
}

.shop-our-bestsellers .second-line-home {
  font-size: clamp(12px, calc(14 * (100vw / var(--viewportDesktop))), 18px);
  line-height: clamp(18px, calc(20 * (100vw / var(--viewportDesktop))), 24px);
  margin: 8px 0 24px;
}

.first-line-home {
  color: #482f8f;
  width: 70%;
}

.shop-our-bestsellers .first-line-home {
  font-size: clamp(28px, calc(32 * (100vw / var(--viewportDesktop))), 35px);
  line-height: clamp(35px, calc(40 * (100vw / var(--viewportDesktop))), 43px);
}

.sortingg {
  display: flex;
  /* column-gap: 1rem; */
  column-gap: 12px;
  padding-right: 1px;
  justify-content: center;
  align-items: center;
}
.price__regular .price-item--regular {
  font-size: 1.25vw;
}
.name-collection {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1.25vw !important;
 
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .name-collection,
  .price__regular .price-item--regular {
    font-size: 1.367vw !important;
  }

  .name-collection {
    height: calc(2 * 1.615vw);
  }
}
@media screen and (max-width: 767px) {
  .name-collection {
    font-size: 16px !important ;    
  }
  .price__regular .price-item--regular {
    font-size: 16px !important ;
  }
  /*    .HorizontalList  .mobilecolorhide{display: none;} */
  li.plus-swatch.mobilecolorplusshow {
    display: block;
  }
  .third-card-div{margin-top: 3px;}
}
.name-index {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    font-size: 1.25vw;
    color: #282828; !important;
}
.first-line-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
/* .star-rating svg{padding-top: 5px;} */
@media screen and (max-width: 500px) {
  .name-collection {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /*     width: 49%; */
  }
  /* .name-index {width: 69%;} */
}
.scrollsearch {
  top: 0 !important;
}
.previous-slide {
  color: #482f8f;
}
.next-slide {
  color: #482f8f;
}
@media screen and (max-width: 640px) {
 .price-product {
    font-size: 16px !important;
  }
  .color-cont-collection {
    width: 64px !important;
  }
  .color-cont-index {
    width: 92px !important;
  }
  .sorting_list {
    font-size: 16px;
  }
  span.new-color {
    font-size: 8px;
  }
  .first-line-home {
    width: 100%;
  }

  .shop-our-bestsellers .first-line-home {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.24px;
  }

  .shop-our-bestsellers .second-line-home {
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 24px;
    letter-spacing: 0.048px;
  }

  .name-index {
    font-size: 16px !important;line-height: 23.5px !important;letter-spacing: 0.006em;
  }
  .price-index {
    width: auto;
  }
}
.search-font {
  font-family: "Heebo-Regular" !important;
}
@media screen and (min-width: 641px) and (max-width: 1024px) {
  .sorting_list {
    font-size: 1.563vw;
  }
  span.new-color {
    font-size: 0.977vw;
  }
  span.new-color {
    width: 85px;
    padding-left: 0px;
  }
  span.new-color {
    font-size: 1.172vw;
  }
  .name-index {
    font-size: 1.563vw !important;
  }
}
@media screen and (min-width: 1500px) {
  .name-index {
    height: 25px !important;
  }
  /*   .first-row-coll {padding-bottom: 12px!important;} */
}
@media screen and (min-width: 2100px) {
  .name-index {
    height: 33px !important;
  }
  /*   .first-row-coll {padding-bottom: 12px!important;} */
}
@media screen and (max-width: 1000px) {
  .inner-color-container {
    width: 100px;
  }
}
.color-container {
  position: relative;
  top: 0;
}
.inner-color-container {
  width: 82px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* top: 0; */
}
.inner-color-container img {
  width: 100%;
  height: auto;
}
.media-slider {
  position: relative;
}
.color-index {
  color: #000303 !important;
}
.contain-collection .inner-color-container {
  justify-content: left !important;
}
.collectionpage_title {
  position: absolute;
  width: 0px;
  height: 0px;
  overflow: hidden;
  z-index: -1;
  visibility: hidden;
}
