.vitals-floating-bar-parent{
    position: sticky;
    width: 100%;
    z-index: 3;
    bottom: -100%;
}
.vitals-floating-bar{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 32px 12px;
    background: linear-gradient(90deg, #5C52A2 0%, #482F8F 50%, #3C2377 100%);
    border-radius: 12px;
    margin: 24px 18px;
    position: relative;
    overflow: hidden;
    opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.floating-bar-heading.desktop{
  display: none;
}

.vitals-floating-bar.hidden{
    opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
}

.floating-bar-heading{
    font-family: 'Heebo-Regular';
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    color: #fff;
    margin: 0;
    letter-spacing: 0;
    text-align: center;
    transition: opacity 0.5s ease;
    opacity: 1;
}
.floating-bar-heading.fade-out {
  opacity: 0;
}

.floating-bar-form-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.floating-bar-form-container button{
    background: #FFFEFE;
    border-radius: 6px;
    color:#462D8C;
    font-family: 'Heebo-Medium';
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    padding: 8px 24px;
    cursor: pointer;
    width: max-content;
    letter-spacing: -0.05px;
    white-space: nowrap;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    border: none;
}

.floating-bar-input{
    border: 1px solid #FFFFFF3D;
    backdrop-filter: blur(52px);
    padding: 8px 16px;
    border-radius: 8px;
    width: 100%;
    color: #FFFFFF8F;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Heebo-Regular';
    line-height: 22px;
    background: #FFFFFF3D;
    outline: none;
    box-shadow: none;
}

.floating-bar-input::placeholder{
    color: #FFFFFF8F;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Heebo-Regular';
    line-height: 22px;
}

.vitals-floating-bar::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    background: linear-gradient(90deg,transparent,rgba(255,255,255,.2),transparent);
    animation: shine 2s ease-in-out infinite;
    z-index: -1;
}

@keyframes shine {
    0% {
       left: -100%;
      transition-property: left;
    }
    100% {
        left: 100%;
    transition-property: left;
    }
}

@media(min-width: 768px){
  .floating-bar-heading.desktop{
    display: block;
  }
  .floating-bar-heading.mobile{
    display: none;
  }
    .vitals-floating-bar{
        max-width: 1120px;
        margin: 0 auto 24px;
        padding: 24px 203px;
    }
    .floating-bar-form-container{
        flex-direction: row;
        align-items: center;
        gap: 24px;
    }

    .floating-bar-heading{
        font-size: 28px;
        line-height: 38px;
    }

    .floating-bar-input{
        border: none;
        padding: 10px 16px;
        height: 44px;
    }
    .floating-bar-form-container button{
        font-size: 16px;
        padding: 10px 24px;
        height: 44px;
    }
    .vitals-floating-bar-parent{
        bottom: -30px;
    }
}