.vitals-featured-content {
  padding: 52px 0 52px 80px;
  margin: 0 auto;
  background: #F5F5F7;
}

.vitals-featured-content-card:last-child{
  margin-right: 80px;
}

.vitals-featured-content h3 {
  text-align: left;
  font-size: 32px;
  line-height: 42px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 36px;
  color: #202020;
  font-family: 'Heebo-Medium';
  padding-right: 80px;
}

.vitals-featured-content-inner {
  display: flex;
  flex-wrap: nowrap;
  gap: 36px;
  justify-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 6px;
}

.vitals-featured-content-inner::-webkit-scrollbar{
    display: none;
}

.vitals-featured-content-card {
  width: 100%;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 16px;
  flex: 1 0 21.5%;
}

.vitals-featured-content-card:hover{
  box-shadow: 0 4px 5px 0px #00000026;
  cursor: pointer;
}

.vitals-featured-content-card-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg,rgba(164, 168, 172, 1) 0%, rgba(164, 168, 172, 1) 70%, rgba(245, 245, 247, 1) 100%);
}

.vitals-featured-content-card-image {
    position: relative;
}

.vitals-featured-content-card-heading img{
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
  max-height: 30px;
}

.vitals-featured-content-card-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  display: block;
}

.vitals-featured-content-card-logo {
  position: absolute;
  bottom: 16px;
  left: 24px;
  z-index: 3;
  background: rgba(255, 255, 255, 0.9);
  padding: 6px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  width: 90px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.vitals-featured-content-card-logo img {
  height: 30px;
  width: auto;
  object-fit: contain;
}

.vitals-featured-content-card-content {
  background: #FFFFFF;
  padding: 24px;
  z-index: 2;
  border-radius: 16px;
}

.vitals-featured-content-card-button p{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.vitals-featured-content-card-heading h4 {
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
  color: #000000;
  font-family: 'Heebo-Medium';
  line-height: 1.3;
  margin: 0;
}

.vitals-featured-content-card-sub-heading p {
  font-size: 22px;
  font-family: 'Heebo-Medium';
  font-weight: 500;
  color: #000000B8;
  margin: 12px 0 0;
  line-height: 28px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.vitals-featured-content-card-button {
    display: flex;
    align-items: center;
    margin-top: 12px;
    gap: 8px;
    width: max-content;
    margin-left: auto;
    padding: 6px 10px;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    cursor: pointer;
}

.vitals-featured-content-card-button span {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-family: 'Heebo-Regular';
    color: #616161;
    font-weight: 500;
    font-size: 14px;
    transition: color .3s ease;
    position: relative;
    line-height: 20px;
}
  
  .vitals-featured-content-card-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: #462D8C1F;
    z-index: 0;
    transition: width 0.5s ease;
  }
  
  .vitals-featured-content-card-button.clicked::before {
    width: 100%;
  }
  
  .vitals-featured-content-card-button span {
    position: relative;
    z-index: 1;
    transition: border-bottom 0.3s ease;
    border-bottom: 1px solid transparent;
  }

  .vitals-featured-content-card-button:hover span {
    border-bottom: 1px solid #AEAEB2;
  }

  .vitals-featured-content-card-button.clicked span {
    border-bottom: none !important;
    pointer-events: none;
    user-select: none; 
    outline: none !important;
    color: inherit;
  }

  .vitals-featured-content-card-button a:focus:not(:focus-visible) {
    outline: none;
  }
  .vitals-featured-content-card-button a:active {
    background: none;
    outline: none;
  }

  .vitals-featured-content .featured-navigation-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 18px;
    margin-top: 16px;
}

.featured-navigation-button-container{
    display: flex;
    align-items: center;
    gap: 16px;
}

.featured-navigation-button {
    display: flex;
    border-radius: 8px;
    backdrop-filter: blur(80px);
    border: 1px solid #00000014;
}

.featured-navigation-dot-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 8px 24px;
    border: 1px solid #00000014;
    border-radius: 8px;
    backdrop-filter: blur(80px);
}

.featured-navigation-dot{
    display: flex;
    height: 8px;
    width: 8px;
    background: #000000;
    opacity: 0.3;
    border-radius: 50%;
}

.featured-navigation-dot.active{
    opacity: 1;
}

.featured-navigation-button.disabled{
    opacity: 0.3;
}

@media(min-width: 768px){
  .featured-navigation-container{
        display: none !important;
    }
}

/* Responsive Design */
@media (max-width: 768px) {
  .vitals-featured-content {
    padding: 24px 0 24px 18px;
  }

  .vitals-featured-content-card-button span{
    font-size: 13px;
  }
   .vitals-featured-content-card-sub-heading p{
     font-size: 16px;
     line-height: 24px;
   }

  .vitals-featured-content-card:last-child{
    margin-right: 18px;
  }

  .vitals-featured-content h3 {
    font-size: 24px;
    margin-bottom: 24px;
    margin-top: 0;
    padding: 0;
  }

  .vitals-featured-content-inner {
    gap: 24px;
  }

  .vitals-featured-content-card {
    flex: 1 0 76%;
    max-width: 100%;
  }

  .vitals-featured-content-card-content {
    padding: 16px;
  }

  .vitals-featured-content-card-heading h4 {
    font-size: 16px;
    line-height: 24px;
  }

  .vitals-featured-content-card-logo {
    bottom: 12px;
    left: 24px;
  }

  .vitals-featured-content-card-logo img {
    height: 25px;
  }
}